
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--禁止自动探测电话号码-->
    <meta name="format-detection" content="telephone=no">
    <import type="css" file="statics.ershou.css.public,statics.ershou.css.style" />
    <script type="text/javascript" src="__PUBLIC__/statics/ershou/js/rem.js" fu-psd="720" fu-min="50" fu-max="100"></script>
</head>
<body class="temp_back">
    <div class="entry-logo-box">
        <img src="__PUBLIC__/statics/mobile/images/big_logo.png" alt="logo"/>
        <h2>欢迎访问三好连锁网站</br>请您选择</h2>
    </div>
    <div class="entry-mobile-box">
        <a href="javascript:void(0);"><img src="__PUBLIC__/statics/mobile/images/mobile.png" alt=""></a>
    </div>
    <div class="entry-pc-box">
        <a href="javascript:void(0);"><img src="__PUBLIC__/statics/mobile/images/pc.png" alt=""></a>
    </div>
</body>
</html>