<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>编辑会员组</title>
<link href="__PUBLIC__/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/icon/iconfont.css" />
<link href="__PUBLIC__/statics/admin/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/scripts/jquery/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="__PUBLIC__/scripts/artdialog/dialog-plus-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/admin/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/statics/admin/js/laymain.js"></script>
<script type="text/javascript">
  $(function () {
    //初始化表单验证
    $("#groupForm").initValidform();
  })
</script>
</head>

<body class="mainbody">
<form method="post" action="{:U('Admin/Users/groupAdd')}" id="groupForm">
<!--导航栏-->
<div class="location">
  <a href="{:U('Admin/Users/groupList')}" class="back"><i class="iconfont icon-up"></i><span>返回列表页</span></a>
  <a href="{:U('Admin/Index/center')}" class="home"><i class="iconfont icon-home"></i><span>首页</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <a href="{:U('Admin/Users/groupList')}"><span>会员组别</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>编辑组别</span>
</div>
<div class="line10"></div>
<!--/导航栏-->

<!--内容-->
<div id="floatHead" class="content-tab-wrap">
  <div class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li><a class="selected" href="javascript:;">基本信息</a></li>
      </ul>
    </div>
  </div>
</div>
  <div class="tab-content">
    <dl>
      <dt>组别名称：</dt>
      <dd>
        <input name="data[group_name]" type="text" value="{$info['group_name']}" maxlength="100" id="txtGroupName" class="input normal" datatype="*1-100" sucmsg=" " minlength="2" />
        <span class="Validform_checktip">*</span>
      </dd>
    </dl>
    <dl>
      <dt>是否启用：</dt>
      <dd>
        <div class="rule-single-checkbox">
          <input id="is_lock" type="checkbox" name="data[is_lock]" <if condition="$info['is_lock'] eq 1 or $action eq add" > checked="checked"</if> />
        </div>
        <span class="Validform_checktip">*是否启用。</span>
      </dd>
    </dl>
    <dl>
      <dt>注册默认会员组：</dt>
      <dd>
        <div class="rule-single-checkbox">
          <input id="rblIsDefault" type="checkbox" name="data[is_default]" <eq name="info.is_default" value="1">checked="checked"</eq> />
        </div>
        <span class="Validform_checktip">*用户注册成功后自动默认为该会员组，如果存在多条，则以等级值最小的为准。</span>
      </dd>
    </dl>
    <dl>
      <dt>参与自动升级：</dt>
      <dd>
        <div class="rule-single-checkbox">
          <input id="rblIsUpgrade" type="checkbox" name="data[is_upgrade]" <if condition="$info['is_upgrade'] eq 1 or $action eq add" > checked="checked"</if> />
        </div>
        <span class="Validform_checktip">*如果是否，在满足升级条件下系统则不会自动升级为该会员组。</span>
      </dd>
    </dl>
    <dl>
      <dt>等级值：</dt>
      <dd>
        <input name="data[grade]" type="text" id="txtGrade" class="input small" datatype="n" sucmsg=" " value="{$info.grade}" />
        <span class="Validform_checktip">*升级顺序，取值范围1-100，等级值越大，会员等级越高。</span>
      </dd>
    </dl>
    <dl>
      <dt>升级所需积分：</dt>
      <dd>
        <input name="data[upgrade_point]" type="text" id="txtUpgradePoint" class="input small" datatype="/^-?\d+$/" sucmsg=" " value="{$info.upgrade_point}" />
        <span class="Validform_checktip">*自动升级所需要的积分。</span>
      </dd>
    </dl>
    <dl>
      <dt>初始积分：</dt>
      <dd>
        <input name="data[default_point]" type="text" id="txtDefaultPoint" class="input small" datatype="/^-?\d+$/" sucmsg=" " value="{$info.default_point}" />
        <span class="Validform_checktip">*自动到该会员组赠送的积分，负数则扣减。</span>
      </dd>
    </dl>
    <dl>
      <dt>购物折扣：</dt>
      <dd>
        <input name="data[discount]" type="text" id="txtDiscount" class="input small" datatype="n" sucmsg=" " value="{$info.discount}" />
        <span class="Validform_checktip">*购物享受的折扣，取值范围：1-100。</span>
      </dd>
    </dl>
  </div>
<!--/内容-->

<!--工具栏-->
<div class="page-footer">
  <div class="btn-wrap">
    <input type="hidden" name="action" value="{$action}" />
    <input type="hidden" name="id" value="{$info.gid}" />
    <input type="hidden" name="returnUrl" value="{$returnUrl}" />
    <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btn" />
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
  </div>
</div>
<!--/工具栏-->

</form>
</body>
</html>
