

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>管理员日志管理</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/scripts/artdialog/ui-dialog.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pagination.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/icon/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/scripts/artdialog/dialog-plus-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/scripts/datepicker/WdatePicker.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/laymain.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/common.js"></script>
<script type="text/javascript">
	function doPostBack(objId) {
		if(objId == 'btnDelete') {
			$('#managerForm').submit();
		}
		if(objId == 'btnSearch'){
            //动态获取删除表单元素中的开始和结束时间
            var startTime = $("#txtStartTime").val();
            var endTime = $("#txtEndTime").val();
            $('#searchForm').find("#startTime").remove();
            $('#searchForm').find("#endTime").remove();
            var inputStr = "";
            inputStr += "<input type=\"hidden\" name=\"startTime\" id=\"startTime\" value=\""+ startTime +"\" />";
            inputStr += "<input type=\"hidden\" name=\"endTime\" id=\"endTime\" value=\""+ endTime +"\" />";
            $('#searchForm').append(inputStr);
			$('#searchForm').submit();
		}
	}
</script>
</head>

<body class="mainbody">
<!--导航栏-->
<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i class="iconfont icon-up"></i><span>返回上一页</span></a>
  <a href="{:U('Admin/Index/center')}" class="home"><i class="iconfont icon-home"></i><span>首页</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>管理员日志列表</span>
</div>
<!--/导航栏-->

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
  <div class="toolbar">
    <div class="box-wrap">
      <a class="menu-btn"><i class="iconfont icon-more"></i></a>
      <div class="l-list">
        <ul class="icon-list">
          <li><a onclick="return ExeNoCheckPostBack('btnDelete','不选时间段，系统将删除近7天的管理日志，你确定吗？');" id="btnDelete" class="del" href="javascript:;"><i class="iconfont icon-delete"></i><span>删除</span></a></li>
        </ul>
        <form action="{:U('Admin/Manager/managerNoteDel')}" id="managerForm" method="post">
        <div class="menu-list">
          <input name="txtStartTime" type="text" id="txtStartTime" class="input rule-date-input" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="{$startTime}" />
          -
          <input name="txtEndTime" type="text" id="txtEndTime" class="input rule-date-input" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="{$endTime}" />
        </div>
        </form>
      </div>
      <form action="{:U('Admin/Manager/managerNoteList')}" method="get" id="searchForm">
      <div class="r-list">
        <input name="keywords" type="text" id="txtKeywords" class="keyword" value="{$keywords}" />
        <a id="btnSearch" class="btn-search" href="javascript:doPostBack('btnSearch')"><i class="iconfont icon-search"></i></a>
      </div>
      </form>
    </div>
  </div>
</div>
<!--/工具栏-->

<!--列表-->
<div class="table-container">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
      <tr>
        <th width="10%">用户名</th>
        <th width="15%">操作类型</th>
        <th align="left">备注</th>
        <th align="left" width="15%">用户IP</th>
        <th align="left" width="16%">添加时间</th>
      </tr>
      <volist name="list" id="item" empty="$empty">
      <tr>
        <td align="center">
          <a href="{:U('Admin/Manager/managerNoteList')}?keywords={$item.admin_name}">{$item.admin_name}</a>
        </td>
        <td align="center">
          <a href="{:U('Admin/Manager/managerNoteList')}?keywords={$item.action_type}">{$item.action_type}</a>
        </td>
        <td>{$item.note}</td>
        <td>{$item.login_ip}</td>
        <td>{$item.login_time|date="Y-m-d H:m:s",###}</td>
      </tr>
      </volist>
    </table>
</div>
<!--/列表-->
<!--内容底部-->
<div class="line20"></div>
<div class="pagelist">
    <div id="PageContent" class="default">{$page}</div>
</div>
<!--/内容底部-->
</body>
</html>
