<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>我的</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/ershou/css/public.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/ershou/css/style.css" />
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/ershou/js/zepto.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/ershou/js/rem.js" fu-psd="720" fu-min="50" fu-max="100"></script>
</head>
<body>
    <div class="mine-page">
        <div class="logo-box">
            <img src="__PUBLIC__/statics/mobile/images/big_logo.png" alt="logo" />
        </div>
        <h1>三好连锁 无所不能</h1>
        <a href="{:U('login/bindMobile')}" class="bind-phone">绑定手机号</a>
        <span class="or">OR</span>
        <a href="javascript:void(0);" class="wchat-login"><i class="icon-wchat fl"></i>微信登录</a>
    </div>
</body>

</html>