<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>订单跟踪</title>
    <import type="css" file="statics.ershou.css.public,statics.ershou.css.user" />
    <script type="text/javascript" src="__PUBLIC__/statics/ershou/js/rem.js" fu-psd="720" fu-min="50" fu-max="100"></script>
</head>
<body style="background-color: #fff">
<div class="page-title">
    <!--返回按钮-->
    <div class="to-back-box">
        <a href="javascript:history.back();" class="icons icon-back"></a>
    </div>
    <!--返回按钮-->
    <!--标题-->
    <h2 class="title">订单跟踪</h2>
    <!--标题-->
</div>
    <div class="logistics">
        <div class="top-box">
            <span>订单编号：59890117023</span>
            <span class="span-status">状态：完成</span>
        </div>
        <div class="content-box">
            <span class="new-order-arr"></span>
            <ul class="new-of-storey">
                <!--最顶上的一条加上class on 显示红色小点 其他的都为灰色-->
                <li>
                    <span class="icon on"></span>
                    <span>【深圳市】 您的订单已电子签收（已在配送员处采用无纸化方式签收本订单）。感谢您在京东购物，欢迎再次光临。参加评价还能赢取京豆哟。&nbsp;&nbsp;京东快递</span>
                    <span>2017-07-22 18:41:55</span>
                </li>
                <li>
                    <span class="icon"></span>
                    <span>【深圳市】 您的订单正在配送途中，请您准备签收（配送员：江伟泷 ，联系电话：13428936585），感谢您的耐心等待。京东扫码付，单单享立减。&nbsp;&nbsp;京东快递</span>
                    <span>2017-07-22 16:07:15</span>
                </li>
                <li>
                    <span class="icon"></span>
                    <span>【深圳市】 您的订单正在配送途中，请您准备签收（配送员：江伟泷 ，联系电话：13428936585），感谢您的耐心等待。京东扫码付，单单享立减。&nbsp;&nbsp;京东快递</span>
                    <span>2017-07-22 16:06:24</span>
                </li>
                <li>
                    <span class="icon"></span>
                    <span>【深圳市】 您的订单正在配送途中，请您准备签收（配送员：江伟泷 ，联系电话：13428936585），感谢您的耐心等待。京东扫码付，单单享立减。&nbsp;&nbsp;京东快递</span>
                    <span>2017-07-22 16:06:24</span>
                </li>
                <li>
                    <span class="icon"></span>
                    <span>【深圳市】 您的订单正在配送途中，请您准备签收（配送员：江伟泷 ，联系电话：13428936585），感谢您的耐心等待。京东扫码付，单单享立减。&nbsp;&nbsp;京东快递</span>
                    <span>2017-07-22 16:06:24</span>
                </li>
                <li>
                    <span class="icon"></span>
                    <span>【深圳市】 您的订单正在配送途中，请您准备签收（配送员：江伟泷 ，联系电话：13428936585），感谢您的耐心等待。京东扫码付，单单享立减。&nbsp;&nbsp;京东快递</span>
                    <span>2017-07-22 16:06:24</span>
                </li>
                <li>
                    <span class="icon"></span>
                    <span>【深圳市】 您的订单正在配送途中，请您准备签收（配送员：江伟泷 ，联系电话：13428936585），感谢您的耐心等待。京东扫码付，单单享立减。&nbsp;&nbsp;京东快递</span>
                    <span>2017-07-22 16:06:24</span>
                </li>
                <li>
                    <span class="icon"></span>
                    <span>【深圳市】 您的订单正在配送途中，请您准备签收（配送员：江伟泷 ，联系电话：13428936585），感谢您的耐心等待。京东扫码付，单单享立减。&nbsp;&nbsp;京东快递</span>
                    <span>2017-07-22 16:06:24</span>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
