<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="../css/public.css" />
    <link rel="stylesheet" type="text/css" href="../css/user.css" />
    <script type="text/javascript" charset="utf-8" src="../js/zepto.min.js"></script>
    <script type="text/javascript" src="../js/rem.js" fu-psd="720" fu-min="50" fu-max="100"></script>
</head>
<body>
<div class="page-title">
    <!--返回按钮-->
    <div class="to-back-box">
        <a href="javascript:history.back();" class="icons icon-back"></a>
    </div>
    <h2 class="title">修改密码</h2>
    <!--返回按钮-->
</div>
<div class="change-box">
    <script type="text/javascript" src="../js/zepto.miniDialog.js"></script>
    <script type="text/javascript" src="../js/zepto.validateForm.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <form name="myForm" id="myForm" url="{:U('Users/password')}" class="psw-form">
        <dl>
            <div class="form-icon-box"><div switch-value="0" class="pwd-icon"><i class="fl">abc</i><i class="pwd-txt fr">···</i></div></div>
            <dd><input type="password" name="data[password]" id="password" class="required" placeholder="请输入新的密码" /></dd>
        </dl>
        <dl>
            <dd>
                <input type="text" name="bindCode" class="required" maxlength="6" placeholder="请输入六位短信验证码" />
                <input type="hidden" value="{$info.mobile}" name="mobile" id="mobile" />
                <input type="button" class="send-sms-btn" name="sendSmsBtn" id="sendSmsBtn1" onclick="sendSmsCode('sendSmsBtn1','点击发送手机验证码','mobile',4,'{:U('Login/checkMobileExist')}','{:U('Login/mobile_form')}')" value="点击发送手机验证码" />
            </dd>
        </dl>
        <button type="submit" class="chang-done">确认修改</button>
    </form>
    <script>
        $(function(){
            $(".pwd-icon").on("touchstart",function(){
                if($(this).attr("switch-value")=="0"){
                    $(this).attr("switch-value","1");
                    $(this).addClass("switch-icon");
                    $("#password").attr("type","text");
                }else{
                    $(this).attr("switch-value","0");
                    $(this).removeClass("switch-icon");
                    $("#password").attr("type","password");
                }
            })
        })
        var return_url = "{:U('Users/password')}";
        $("#myForm").validateForm({return_url:return_url,isBindDel:true});
    </script>
</div>
</body>
</html>