<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>收货地址管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/mobile/css/user.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../css/cart.css" />
    <script type="text/javascript" charset="utf-8" src="../js/zepto.min.js"></script>
    <script type="text/javascript" src="../js/rem.js" fu-psd="720" fu-min="50" fu-max="100"></script>  -->

    <import type="css" file="statics.ershou.css.public,statics.ershou.css.cart" />
    <import type="js" file="scripts.zepto.zepto#min,statics.ershou.js.common,scripts.zepto.zepto#fx,scripts.zepto.zepto#miniDialog,scripts.zepto.zepto#cookie#min,scripts.TouchSlide.TouchSlide#1#1" />
    <script type="text/javascript" src="__PUBLIC__/statics/ershou/js/rem.js" fu-psd="720" fu-min="50" fu-max="100"></script>
</head>
<body>
<div class="page-title">
    <!--返回按钮-->
    <div class="to-back-box">
        <a href="javascript:history.back();" class="icons icon-back"></a>
    </div>
    <!--返回按钮-->
    <!--标题-->
    <h2 class="title">收货地址</h2>
    <!--标题-->
</div>
<form method="post" class="order-adderss-form" id="orderAddressForm" style="padding-top: 0.86rem !important">
    <div class="order-address-box">
      <volist name="list" id="vo">
        <div class="address-items <if condition="$vo['is_default'] eq 1">select</if>">
              <div class="address-center-box fl">
                  <a href="{:U('Ershou/Order/selectAddress')}?id={$vo.address_id}">
                      <div class="name-and-num">
                          <span class="name fl">{$vo['consignee']}</span>
                          <!--  -->
                          <div class="fr defaultAddressIcon" style="margin-right:0.2rem;font-weight: bold;color:#f00;">默认</div>
                          <!--  -->
                          <strong>{$vo['mobile']}</strong>
                      </div>
                      <p class="address-info">{$vo['iname']}{$vo['oname']}{$vo['rname']}{$vo['address']}</p>
                  </a>
              </div>
            <div class="opera-box fr">
                <a href="{:U('Ershou/Order/editAddress',array('address_id'=>$vo['address_id']))}" class="address-editor fl"><i class="icons icon-address-editor"></i></a>
                <input type="hidden" name="" value="{$vo.address_id}">
                <a href="javascript:void(0);" class="address-delete fr"><i class="icons icon-address-delete"></i></a>
            </div>
            <div class="clear"></div>
            <input type="hidden" name="" value="{$vo['address_id']}">
            <div class="setting-default" style="font-size: 0.22rem;">设为默认地址</div>
        </div>
      </volist>
    </div>
    <div class="add-address-box">
        <a href="{:U('Ershou/Order/addAddress')}" class="add-address-btn"><i class="plus">+</i>新建地址</a>
    </div>
</form>

<script>
      //删除收货地址
      $('.address-delete').on("touchstart",function(){
        var address_id=$(this).prev().val();
        var fh =$(this);
        $.ajax({
            data:{address_id:address_id},
            type: 'POST',
            url: "{:U('Ershou/Order/delAddress')}",
            dataType: 'json',
            success: function (data) {
                if (data.status == 1) {
                    fh.parent().parent().remove();
                }
            }
        })
      })

    $(function(){
        /*改变默认地址*/
       $(".setting-default").on("touchstart",function(){
            var address_id=$(this).prev().val();
            var fh=$(this);
           //$(this).parent().addClass("select").siblings(".address-items").removeClass("select");
           $.ajax({
               data:{address_id:address_id},
               type: 'POST',
               url: "{:U('Ershou/Order/setDefaultAddress')}",
               dataType: 'json',
               success: function (data) {
                   if (data.status == 1) {
                       fh.parent().addClass("select").siblings().removeClass("select");
                   }
               }
           })
       })
    })
</script>
</body>
</html>
