<layout name="index_layout"/>
    <!--焦点图-->
    <div class="slider">
        <div class="slider-box">
            <div class="hd">
                <ul>
                    <li class="on">1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <li style="background: url(__PUBLIC__/statics/shop/images/banner1.jpg) no-repeat center center;"></li>
                    <li style="background: url(__PUBLIC__/statics/shop/images/banner1.jpg) no-repeat center center;"></li>
                    <li style="background: url(__PUBLIC__/statics/shop/images/banner1.jpg) no-repeat center center;"></li>
                </ul>
            </div>
        </div>
        <script>jQuery(".slider-box").slide({mainCell:".bd ul",autoPlay:true,trigger:"click"});</script>
    </div>
    <!--活动精选-->
    <div class="boutique">
        <div class="w1200">
            <div class="title1 clearfix">
                <i class="icons icon-clock fl"></i>
                <h3>活动精选</h3>
            </div>
            <div class="content">
                <div class="b-content clearfix">
                    <a href="javascript:;"><img src="__PUBLIC__/statics/shop/images/img_1.jpg" alt="" /></a>
                    <a href="javascript:;" class="big"><img src="__PUBLIC__/statics/shop/images/img_2.jpg" alt="" /></a>
                    <a href="javascript:;"><img src="__PUBLIC__/statics/shop/images/img_3.jpg" alt="" /></a>
                    <a href="javascript:;"><img src="__PUBLIC__/statics/shop/images/img_4.jpg" alt="" /></a>
                    <a href="javascript:;"><img src="__PUBLIC__/statics/shop/images/img_5.jpg" alt="" /></a>
                    <a href="javascript:;"><img src="__PUBLIC__/statics/shop/images/img_6.jpg" alt="" /></a>
                    <a href="javascript:;"><img src="__PUBLIC__/statics/shop/images/img_7.jpg" alt="" /></a>
                    <a href="javascript:;"><img src="__PUBLIC__/statics/shop/images/img_8.jpg" alt="" /></a>
                    <a href="javascript:;" class="big"><img src="__PUBLIC__/statics/shop/images/img_9.jpg" alt="" /></a>
                    <a href="javascript:;"><img src="__PUBLIC__/statics/shop/images/img_10.jpg" alt="" /></a>
                </div>
                <div class="adv-box"></div>
            </div>
        </div>
    </div>
    <!--1楼-->
    <div class="floor floor1">
        <div class="w1200">
            <div class="title1 clearfix">
                <span class="floor-num fl">1F</span>
                <h3>潮流数码</h3>
            </div>
            <div class="f-content clearfix">
                <div class="f-content-l fl">
                    <a href="javascript:;">
                        <div class="a-top"><i class="icons icon-camera fl"></i><span>潮流数码</span></div>
                        <div class="a-middle"><img src="__PUBLIC__/statics/shop/images/floor_img1.jpg" alt="" /></div>
                        <div class="a-bottom"><h4>爆品抢购</h4><h5>品质好货、热卖精选</h5></div>
                    </a>
                </div>
                <div class="f-content-r fr">
                    <div class="a-box clearfix">
                        <div class="t-right fr">
                            <a href="javascript:;">网络路由</a>
                            <span class="line">/</span>
                            <a href="javascript:;">摄影摄像</a>
                            <span class="line">/</span>
                            <a href="javascript:;">平板电脑</a>
                        </div>
                    </div>
                    <div class="goods-box">
                        <ul>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img1.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img2.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img3.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img4.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img5.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img6.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img7.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img8.jpg" alt="" />
                                    <span class="txt">fsfsdffsfsdfsdfsdffsfsdfsdfsdffsfsdfsdfsdffsfsdfsdfsdffsfsdfsdfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img9.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img10.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--2楼-->
    <div class="floor floor2">
        <div class="w1200">
            <div class="title1 clearfix">
                <span class="floor-num fl">2F</span>
                <h3>生活百货</h3>
            </div>
            <div class="f-content clearfix">
                <div class="f-content-l fl">
                    <a href="javascript:;">
                        <div class="a-top fl"><i class="icons icon-store fl"></i><span>生活百货</span></div>
                        <div class="a-middle"> <img src="__PUBLIC__/statics/shop/images/floor_img2.jpg" alt="" /></div>
                        <div class="a-bottom"><h4>品质生活</h4><h5>让生活更简单点</h5></div>
                    </a>
                </div>
                <div class="f-content-r fr">
                    <div class="a-box clearfix">
                        <div class="t-right fr">
                            <a href="javascript:;">网络路由</a>
                            <span class="line">/</span>
                            <a href="javascript:;">摄影摄像</a>
                            <span class="line">/</span>
                            <a href="javascript:;">平板电脑</a>
                        </div>
                    </div>
                    <div class="goods-box">
                        <ul>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img1.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img2.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img3.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img4.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img5.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img6.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img7.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img8.jpg" alt="" />
                                    <span class="txt">fsfsdffsfsdfsdfsdffsfsdfsdfsdffsfsdfsdfsdffsfsdfsdfsdffsfsdfsdfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img9.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img10.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--3楼-->
    <div class="floor floor3">
        <div class="w1200">
            <div class="title1 clearfix">
                <span class="floor-num fl">3F</span>
                <h3>女装盛宴</h3>
            </div>
            <div class="f-content clearfix">
                <div class="f-content-l fl">
                    <a href="javascript:;">
                        <div class="a-top fl"><i class="icons icon-ladies fl"></i><span>女装盛宴</span></div>
                        <div class="a-middle"> <img src="__PUBLIC__/statics/shop/images/floor_img3.jpg" alt="" /></div>
                        <div class="a-bottom"><h4>性感风向标</h4><h5>秋冬新品5折首发</h5></div>
                    </a>
                </div>
                <div class="f-content-r fr">
                    <div class="a-box clearfix">
                        <div class="t-right fr">
                            <a href="javascript:;">网络路由</a>
                            <span class="line">/</span>
                            <a href="javascript:;">摄影摄像</a>
                            <span class="line">/</span>
                            <a href="javascript:;">平板电脑</a>
                        </div>
                    </div>
                    <div class="goods-box">
                        <ul>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img1.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img2.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img3.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img4.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li class="bor-b">
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img5.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img6.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img7.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img8.jpg" alt="" />
                                    <span class="txt">fsfsdffsfsdfsdfsdffsfsdfsdfsdffsfsdfsdfsdffsfsdfsdfsdffsfsdfsdfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img9.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="__PUBLIC__/statics/shop/images/goods_img10.jpg" alt="" />
                                    <span class="txt">fsfsdfsdfsdf</span>
                                    <span class="price">￥300</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--热卖-->
    <div class="hot-selling">
        <div class="w1200">
            <div class="dash-title"><span class="left"></span>本周热销<span class="right"></span></div>
            <div class="h-content clearfix">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <img src="__PUBLIC__/statics/shop/images/goods_img1.jpg" alt="" />
                            <span class="txt">fsfsdfsdfsdf</span>
                            <span class="price">￥300</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="__PUBLIC__/statics/shop/images/goods_img1.jpg" alt="" />
                            <span class="txt">fsfsdfsdfsdf</span>
                            <span class="price">￥300</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="__PUBLIC__/statics/shop/images/goods_img1.jpg" alt="" />
                            <span class="txt">fsfsdfsdfsdf</span>
                            <span class="price">￥300</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="__PUBLIC__/statics/shop/images/goods_img1.jpg" alt="" />
                            <span class="txt">fsfsdfsdfsdf</span>
                            <span class="price">￥300</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="__PUBLIC__/statics/shop/images/goods_img1.jpg" alt="" />
                            <span class="txt">fsfsdfsdfsdf</span>
                            <span class="price">￥300</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="__PUBLIC__/statics/shop/images/goods_img1.jpg" alt="" />
                            <span class="txt">fsfsdfsdfsdf</span>
                            <span class="price">￥300</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--底部-->