<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>3好连锁店</title>
    <import type="css" file="statics.mobile.css.public,statics.mobile.css.user" />
    <import type="js" file="scripts.zepto.zepto#min,scripts.zepto.lazyload#min,statics.mobile.js.common" />
    <script type="text/javascript" src="__PUBLIC__/statics/mobile/js/rem.js" fu-psd="720" fu-min="50" fu-max="100"></script>
</head>
<body>
<!--店铺主页-->
<div class="seller-inner">
    <!--返回按钮和分享-->
    <div class="top-tips">
        <a href="javascript:history.go(-1);" class="icons icon-back fl"></a>
    <!--<h2 class="title">{$info.company_name}</h2>-->
        <a href="{:U('Mobile/Users/setting')}" class="setting-box fr"><i class="icons icon-setting"></i></a>
    </div>
    <!--返回按钮和分享-->
    <div class="head-portrait">
        <a href="{:U('Mobile/Users/setting',array('type'=>'user_img'))}" class="fl">
        <img src="__PUBLIC__/statics/mobile/images/default_img.png" data-original="__PUBLIC__/uploads/{$info.avatar}_c200x200" alt="卖家头像" class="user-img">
        </a>
        <h3>{$info.user_name}</h3>
        <!-- <div class="follow fr"><span id="follow-num">300</span>人关注</div> -->
    </div>
</div>
<!--店铺主页-->
<!--<div class="inner-store belong-store my-store">-->
    <!--<div class="impression">-->
        <!--<ul>-->
            <!--<li>-->
                <!--<a href="{:U('Mobile/Seller/sellerOrder')}?pageType=1">-->
                    <!--<span class="red">{$wait_send_num}件</span>-->
                    <!--<span>待发货</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="{:U('Mobile/Seller/sellerGoodsList')}?pageType=sale">-->
                    <!--<span class="red">{$on_sale_num}件</span>-->
                    <!--<span>在售</span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="{:U('Mobile/Seller/sellerGoodsList')}?pageType=wait">-->
                    <!--<span class="red">{$wait_delivery_num}件</span>-->
                    <!--<span>待投放</span>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;所属店铺&ndash;&gt;-->
<div class="user-section">
    <div class="sec-content">
        <ul class="items">
            <li>
                <i class="icons icon-my-order"></i>
                <a href="{:U('Mobile/Seller/sellerOrder?pageType=1')}">
                    <span class="fl">我的订单</span><i class="icons icon-more fr"></i><span class="num fr"><!--0--></span>
                </a>
            </li>
            <li>
                <i class="icons icon-delivery"></i>
                <a href="{:U('Mobile/Seller/sellerGoodsList?pageType=wait')}">
                    <span class="fl">待投放</span><i class="icons icon-more fr"></i><span class="num fr"></span>
                </a>
            </li>
            <li>
                <i class="icons icon-delivering"></i>
                <a href="{:U('Mobile/Seller/sellerGoodsList')}?pageType=ing">
                    <span class="fl">投放中</span><i class="icons icon-more fr"></i><span class="num fr"></span>
                </a>
            </li>
            <li>

                <i class="icons icon-my-sell"></i>
                <a href="{:U('Mobile/Seller/sellerGoodsList')}?pageType=sale">
                    <span class="fl">在售</span><i class="icons icon-more fr"></i><span class="num fr"></span>
                </a>
            </li>
            <li>
                <i class="icons icon-delivering"></i>
                <a href="{:U('Mobile/Seller/advList')}?pageType=store">
                    <span class="fl">广告推广</span><i class="icons icon-more fr"></i><span class="num fr"</span>
                </a>
            </li>
            <li>
                <i class="icons icon-settlement"></i>
                <a href="{:U('Mobile/Seller/settlement')}">
                    <span class="fl">我的结算</span><i class="icons icon-more fr"></i>
                </a>
            </li>
            <li>
                <i class="icons icon-fabu"></i>
                <a href="{:U('Mobile/Seller/publish')}">
                    <span class="fl">发布商品</span><i class="icons icon-more fr"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--商品筛选部分-->
<!--公用底部-->
<include file="Public/ufooter" />
<!--公用底部-->
<script>
    $(function(){
        //图片延迟加载
        $(".head-portrait a img").lazyload({effect : "fadeIn"});
    })
</script>
</body>
</html>
