 <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>购物车信息管理</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/scripts/artdialog/ui-dialog.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pagination.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/icon/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/scripts/artdialog/dialog-plus-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/scripts/datepicker/WdatePicker.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/laymain.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/common.js"></script>

</head>

<body class="mainbody">
<script type="text/javascript">
function doPostBack(obj){
    switch (obj){
        case 'btnEnable':
            $("#action").val('enabled');
            $("#usersForm").submit();
            break;
        case 'btnDisable':
            $("#action").val('diabled');
            $("#usersForm").submit();
            break;
        case 'btnDelete':
            $("#action").val('del');
            $("#usersForm").submit();
            break;
        default:
            checkFormInputIsEmpty("#txtStartTime");
            checkFormInputIsEmpty("#txtEndTime");
            checkFormInputIsEmpty("#txtKeywords");
            $("#searchForm").submit();
            break;
    }
}
</script>

<!--导航栏-->
<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i class="iconfont icon-up"></i><span>返回上一页</span></a>
  <a href="{:U('Admin/Index/center')}" class="home"><i class="iconfont icon-home"></i><span>首页</span></a>
  <i class="arrow iconfont icon-arrow-right"></i>
  <span>购物车信息管理</span>
</div>
<!--/导航栏-->

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
      <div class="toolbar">
        <div class="box-wrap">
          <a class="menu-btn"></a>
          <div class="l-list">
            <ul class="icon-list">
              <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i class="iconfont icon-check"></i><span>全选</span></a></li>
            </ul>
            <form name="searchForm" id="searchForm" method="get" action="{:U('Admin/Cart/index')}">


                <div class="r-list">
                  <input name="keywords" type="text" id="txtKeywords" class="keyword" value="{$keywords}" />
                  <a id="lbtnSearch" class="btn-search" href="javascript:doPostBack('lbtnSearch')"><i class="iconfont icon-search"></i></a>
                </div>
            </form>
          </div>
        </div>
      </div>
</div>
<!--/工具栏-->

<!--列表-->
<div class="table-container">
<form method="post" action="{:U('Admin/Cart/del')}" id="usersForm">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
  <tr>
    <th width="8%">选择</th>
    <th align="left" colspan="2">商品名</th>
    <th align="left" width="8%">商品市场价格</th>
    <th align="left" width="8%">商品价格</th>
    <th align="left" width="15%">商品购物车总数量</th>
    <th width="8%">商品加入购物车总用户数</th>
    <th width="8%">操作</th>
  </tr>
<volist name="list" id="vo" empty="$empty">
  <tr>
    <td align="center">
      <span class="checkall" style="vertical-align:middle;"><input id="ids" type="checkbox" name="ids[]" value="{$vo['uid']}" /></span>
    </td>
    <td width="64">
      <a href="{:U('Admin/Users/add')}?action=edit&id={$vo['uid']}" class="user-avatar">
        <!-- <if condition="$vo['avatar']"><img width="64" height="64" src="__PUBLIC__/Uploads/avatar/{$vo['avatar']}" /><else />
            <i class="iconfont icon-user-full"></i>
        </if> -->
      </a>
    </td>
    <!-- <td>
      <div class="user-box">
        <h4><b><notempty name="vo.user_name">{$vo.user_name}&nbsp;-&nbsp;</notempty>{$vo.mobile}</b></h4>
        <i>注册时间：<eq name="vo.reg_time" value="0">-<else/>{$vo['reg_time']|date='Y/m/d h:i',###}</eq></i>
        <span style="display:none;">
          <a class="amount" href="javascript:void(0);" title="消费记录"><i class="iconfont icon-count"></i>余额</a>
          <a class="point" href="javascript:void(0);" title="积分记录"><i class="iconfont icon-star"></i>积分</a>
          <a class="sms" href="javascript:void(0);" title="发送手机短信通知"><i class="iconfont icon-mail"></i>短信通知</a>
        </span>
      </div>
    </td> -->
    <td>{$vo['goods_title']}</a></td>
    <td>{$vo['market_price']}</a></td>
    <td>{$vo['goods_price']}</td>
    <td align="center">{$vo.counts}</td>
    <td align="center">{$vo.count_num}</td>
    <td align="center"><a href="{:U('Admin/Users/usersAdd')}?action=edit&id={$vo['uid']}">商品详情</a></td>
  </tr>
</volist>
</table>
    <input type="hidden" name="action" id="action" value="del" />
</form>
</div>
<!--/列表-->
<div class="line20"></div>
<!--内容底部-->
<div class="pagelist">
    <div id="PageContent" class="default">{$page}</div>
</div>
<!--/内容底部-->
</body>
</html>
