	<!--以下内容作为footer-->
    <section class="fix-right-bar">
        <ul>
            <li class="fix-qq">
                <a href="javascript:void(0);" title="QQ"></a>
                <div class="more-qq">
                    <a href="tencent://message/?uin=19136676&Site=&Menu=yes" title="小李" target="_blank"><img src="__PUBLIC__/statics/home/images/qq.png" alt="" width="26" height="26" /><em>小李</em></a>
                    <a href="tencent://message/?uin=308764514&Site=&Menu=yes" title="小蕾" target="_blank"><img src="__PUBLIC__/statics/home/images/qq.png" alt="" width="26" height="26" /><em>小蕾</em></a>
                    <a href="tencent://message/?uin=799722711&Site=&Menu=yes" title="小杏" target="_blank"><img src="__PUBLIC__/statics/home/images/qq.png" alt="" width="26" height="26" /><em>小杏</em></a>
                </div>
            </li>
            <li class="fix-weixin">
                <a href="javascript:void(0);" title="微信"></a>
                <div class="fix-wx">
                    <img src="__PUBLIC__/statics/home/images/erweima.png" alt="" width="97" height="97" />
                    <span></span>
                </div>
            </li>
            <li class="fix-top" id="totop" rexScrollTop="true">
                <a href="javascript:void(0);" title="回到顶部" ></a>
            </li>
        </ul>
    </section>
    <footer>
        <div class="w1200">
            <figure>
                <img src="__PUBLIC__/statics/home/images/bottom_logo.png" alt="" class="big-img" width="180" height="60"/>
                <p>地址： 深圳市南山区田寮大厦1001</p>
                <p>电话：0755-23999161</p>
            </figure>
            <section class="erweima"><img src="__PUBLIC__/statics/home/images/erweima.png" alt="erweima" class="erweima" width="110" height="110"/></section>
            <section class="bottom1">版权所有 三好连锁传媒 Copyright  www.somegood.com.cn All Rights Reserved</section>
        </div>
    </footer>
    <!--以下内容作为footer-->
    <!--scrollanim.min.js一定要放在后面加载才可以 放在footer里面-->
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/home/js/scrollanim.min.js"></script>