<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>{$web_title}</title>
    <meta name="keywords" content="{$web_keywords}"/>
    <meta name="description" content="{$web_description}" />
    <import type="css" file="statics.wap.css.public,statics.wap.css.style" />
    <!--[if lt IE9]>
    <import type="js" file="scripts.js.jshtml5shiv#min" />
    <![endif]-->
    <import type="js" file="statics.wap.js.zepto#min,statics.wap.js.zepto#fx,statics.wap.js.rem" />
</head>
<body>
<!--include header-->
<header>
    <a href="javascript:history.go(-1);" class="back-to"><</a>
    <h2>联系我们</h2>
    <div class="menu-icon"></div>
</header>
<article class="containter">
    <section class="title"><span>联系我们</span></section>
    <section class="content">
        <img src="__PUBLIC__/statics/wap/images/section_img_left.jpg" alt="" class="contact-main-img"/>
        <div class="contact-info">
            <p><span class="fl">客服热线：</span><span class="fl">0755-23999161</span></p>
            <p><span class="fl">网址：</span><span class="fl">www.somegood.com.cn</span></p>
            <p><span class="fl">邮箱：</span><span class="fl">info@billcome.com</span></p>
            <p><span class="fl">地址：</span><span class="fl">深圳市南山区田寮大厦1001</span></p>
        </div>
    </section>
    <include file="Public/footer" />
</article>
<include file="Public/nav" />
</body>
</html>