<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{$web_title}</title>
    <meta name="keywords" content="{$web_keywords}"/>
    <meta name="description" content="{$web_description}" />
    <import type="css" file="statics.home.css.public,statics.home.css.style,statics.home.css.animate,statics.home.css.scrollanim#min" />
    <!--[if lte IE 9]>
    <import type="js" file="scripts.js.html5shiv#min" />
    <![endif]-->
    <import type="js" file="statics.home.js.jquery-1#11#2#min,statics.home.js.jquery#SuperSlide#2#1#1,statics.home.js.totop" />
</head>
<body>
    <include file="Public/header" />
    <!--include header-->
    <section class="about-slider"></section>
    <article class="floor1 about-floor1">
        <div class="w1200">
            <h2 data-kui-anim="fadeInRightFast">PLATFORM<span>PROFILE</span></h2>
            <div class="line" data-kui-anim="fadeInRightNormal"></div>
            <section class="about-section clearfix" data-kui-anim="fadeInRightSlow">
                <p>三好连锁传媒是深圳比尔肯集团旗下单独成立的互联网+线下实体体验连锁平台，</p>
                <p>三好连锁传媒集产品推广销售，品牌推广为一体，结合线下体验和线上推广等多个手段，以达到多管齐下的推广销售效果！</p>
                <p>为中小企业的起步，大公司大平台的品牌建设搭建了一个强有力的推广平台！</p>
                <p>三好连锁传媒秉承“公平，公正，公开”的核心理念，为每一个客户提供了一个公平的环境，公正的对待，公开资源。</p>
                <p>三好连锁传媒目前拥有线下实体点1000余个，铺设9大城市，合作客户超过100家。</p>
                <p> 线上注册用户流量超过10万个，线下流量超过100万（根据线下实体店流量预估）。</p>
                <p>平台产品直接销售额超过1000万RMB/月。</p>
            </section>
            <section class="vision-section clearfix">
                <div class="left fl" data-kui-anim="fadeInLeftFast">
                    <img src="__PUBLIC__/statics/home/images/about_section_left.png" alt="" width="440" height="293"/>
                </div>
                <div class="right fr" data-kui-anim="fadeInRightFast">
                    <p>愿 景：让推广变得更加简单有效！</p>
                    <p>使 命：在三好连锁传媒人人平等！</p>
                    <p>核心：用平民的成本把您的产品和品牌推广到平民百姓的生活中去！</p>
                </div>
            </section>
        </div>
    </article>
    <include file="Public/footer" />
</body>
</html>