/*css start*/
*{ padding:0; margin:0;  }
body { background-color: #f3f3f3; max-width: 640px; min-width: 320px;  position:relative; font-family:"Microsoft YaHei";}

/*头部样式*/
.header { width: 100%; max-width: 640px;padding: 0.16rem 0;background-color: rgba(0,0,0,0); position: fixed; overflow: hidden; z-index: 35;}
.header a.home-logo{ display: block; margin-left: 0.15rem;}
.header .logo { display: inline-block; width: 1rem; height: 0.45rem; margin-top: 0.08rem;}
.header .search-wrap { width:3.66rem; height:0.5rem;  padding:0 0.3rem 0 0.4rem;  line-height:0; margin-left: 0.18rem; background:#fff; border-radius: 16px; position: relative;}
.header .search-input { top: 0.14rem; width:3.7rem; height: 0.22rem; line-height: 0.22rem; border:none; background: none; font-size: 0.22rem;outline: none; position:absolute; color: #999}
.header .release-wrap { position: absolute; top: 0.16rem;right: 10px; }
.header .release-wrap a { display: block; font-size: 0;}
.header .release-wrap a span { display: block; line-height: 0.27rem; font-size: 0.2rem; color: #fff;}
/*隐藏搜索样式*/
.hide-search-wrap .search-box input{ line-height:0.3rem; font-size:0.2rem;}
.hide-search-page{ padding-top:1rem;}
.current-search-box{ overflow: hidden;}
.search-item-option{ padding:0.1rem 0.2rem; line-height:0.5rem; border-bottom:1px solid #e3e3e3;}
.search-item-option a{ color:#666; font-size:0.2rem; display: block;}
.search-item-option span{ color:#666; font-size:0.2rem;}
.search-item-option span em{ color:#f30;}

/*主页焦点图样式*/
.slider{ width: 100%;  margin: 0 auto; position: relative; overflow: hidden;}
.slider .hd { width: 100%;  position: absolute;  z-index: 1;  bottom: 0.15rem;  text-align: center; height: 0.14rem; line-height: 0.14rem}
.slider .hd ul { font-size: 0;}
.slider .hd li { display: inline-block; width: 0.14rem; height: 0.14rem; border-radius: 0.07rem; margin: 0 0.08rem;  background-color: #fff; vertical-align: top;}
.slider .hd li.on { background-color: #25ebc7; width: 0.28rem; }
.slider .bd li { height: 2.8rem;}
.slider .bd li img { display: block;width: 100%; height: 2.8rem;}

/*详情页滚动样式*/
.goods-info-slider .bd li { height: 6.4rem; font-size: 0.22rem}
.goods-info-slider .bd li img{ display: block; width: 100%; height: 6.4rem;}

/*导航样式*/
.nav { padding: 0.32rem 0 0.2rem; margin-bottom: 0.12rem; background-color: #fff; overflow: hidden;}
.nav ul li { width: 25%; float: left; text-align: center; margin-bottom: 0.24rem;}
.nav ul li a {  display: block; }
.nav ul li a img{  display: block; width: 0.76rem; height: 0.76rem; margin: 0 auto;}
.nav ul li span { display: block; line-height: 0.45rem; font-size: 0.22rem; color: #494949;}

/*好店推荐样式*/
.recommend { background-color: #fff; margin-bottom: 0.12rem; overflow: hidden; }
.recommend .rec-title,.good-nearby .near-title{ height: 0.34rem; padding: 0.21rem 15px; border-bottom: 1px solid #f1f1f1;}
.recommend .rec-title h2,.good-nearby .near-title h2 { line-height: 0.34rem; font-size: 0.28rem; color: #333; border-left: 4px solid #00b190; padding-left: 15px;}
.to-shop { display: inline-block; width: 70px; height: 20px; line-height: 20px; color: #ec343a; background-color: #fdeaeb; border-radius: 9px; font-size: 14px; text-align: center;}
.rec-content-wrap { padding:0.15rem }
.recommend .rec-content { padding: 0.15rem; overflow: hidden;}
.recommend .rec-content ul { width: 100%; position: relative;}
.recommend .rec-content li { width: 1.79rem !important; height: 2.6rem; float:left; padding: 0 0.05rem; text-align: center; margin-right: 0.15rem; border: 1px solid #e3e3e3; font-size: 0.2rem}
.recommend .rec-content li:nth-child(3) { margin-right: 0}
.recommend .rec-content li a { color: #999; display: block; }
.recommend .rec-content li img { display: block; width: 0.6rem; height: 0.6rem; padding: 0.3rem 0 0.15rem; margin: 0 auto}
.recommend .rec-content li h3 { line-height: 0.3rem; font-size: 0.24rem; color: #333; }
.recommend .rec-content li .location { line-height: 0; font-size:0.2rem}
.recommend .rec-content li span.name {color: #999; font-size: 0.2rem; height: 0.6rem; line-height: 0.3rem; vertical-align: middle; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; display: box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-word;}
.recommend .rec-content li span.apart { display: inline-block; font-size: 0.2rem;}
.recommend .rec-content li span.in { display: block; width: 1.2rem; line-height: 0.22rem; padding: 0.05rem 0; margin: 0.2rem auto; color: #fff;background-color: #ec343a; border-radius: 0.11rem; font-size: 12px; text-align: center;}

/*好货推荐样式*/
.good-nearby { overflow: hidden;}
.good-nearby .near-title { font-size: 0.34rem; color: #333; line-height: 0.78rem; border-bottom: 1px solid #f1f1f1; background-color: #fff; overflow: hidden;}
.good-nearby .near-title li { width: 50%; height: 0.74rem; float:left; border-bottom: 1px solid #fff; text-align: center;}
.good-nearby .near-title li.sel { border-bottom: 4px solid #00b190; color: #00af8e;}
.items-user { overflow: hidden; padding:0.15rem ; }
.items-user .floor { line-height: 0.3rem; overflow:hidden;}
.items-user .user-img { display: inline-block; width: 0.6rem; height: 0.6rem; margin: 0.08rem 0.1rem 0 0}
.items-user .user-img img { display: block; width: 0.6rem; height: 0.6rem; font-size:0; border-radius: 50%; }
.items-user .name { display: inline-block; width: 60%;text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 0.3rem; font-weight: bold; color: #333;}
.good-nearby .name-and-time { width:60%}
.name-and-time .name { display: block; width:100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 0.3rem; font-weight: bold; color: #333; line-height: 0.45rem; position: relative; }
.name-and-time .time {  display: block; font-size: 0.20rem; color: #999;height: 0.3rem; line-height: 0.3rem;}
.good-nearby .apart,.shop-admin-box .con-items .apart { font-size: 0.22rem; color: #666; margin-top:0.24rem}
.near-content-box,.search-list{ padding: 0 0 0.1rem}
.search-list .apart { font-size: 0.2rem; color: #999}
.search-list .con-items .price { font-size: 0.2rem; color: #f23030; position: relative; margin-top: 0.2rem}
.good-nearby .near-content .con-items,.shop-admin-box .con-items,.search-list .con-items { margin-bottom: 0.1rem; overflow: hidden; background-color: #fff;}
.good-nearby .items-img-box,.shop-admin-box .items-img-box,.search-list .items-img-box { padding: 0 0.1rem; height: 1.96rem;}
.good-nearby .items-img-box li,.shop-admin-box .items-img-box li,.search-list .items-img-box li{ margin: 0 0.05rem; float: left;}
.good-nearby .items-img-box li img,.shop-admin-box .items-img-box li img,.search-list .items-img-box li img { display: inline-block; width: 1.96rem; height: 1.96rem; }
.good-nearby p.items-title,.shop-admin-box p.items-title,.search-list  p.items-title{height: 0.5rem; line-height: 0.5rem; font-size: 0.24rem; padding: 0 0.15rem ;margin-bottom:0.1rem; color: #333;border-bottom: 1px solid #f1f1f1; white-space: nowrap; text-overflow:ellipsis;overflow: hidden;}
.good-nearby p.items-title a, p.items-title a{ color: #333;}
.good-nearby .price-and-other,.search-list .price-and-other { padding: 0.15rem 0.1rem; overflow: hidden;}
.good-nearby .price-and-other .price,.search-list .price{ font-size: 0.2rem;color: #ec343a; padding-right: 50px; position: relative;}
.good-nearby .price-and-other .price em,.search-list .price-and-other .price em{ font-size: 0.3rem;}
.good-nearby .price-and-other .per-new,.search-list .per-new{ display: block; padding:0.02rem; border: 1px solid #ec343a; border-radius: 0.06rem; position: absolute; right: 0;top: -0.15rem; font-size: 14px; -webkit-transform: scale(0.8);}
.shop-admin-box .price { font-size: 0.2rem;color: #ec343a; margin: 0.1rem 0 0 0}
/*店铺管理部分样式*/
.shop-admin-box .con-items { background-color: #fff; margin-bottom: 0.10rem;}
.shop-admin-box .con-items > a { display: block;color: #333;}
.shop-admin-box .other-box { padding: 0.15rem; height: 0.4rem;}
.shop-admin-box .name-and-time { width: 60%;}
.shop-admin-box .other-box a { display: block; padding: 0 0.2rem; height: 0.4rem; text-align: center; line-height: 0.4rem; border: 1px solid #00b190; color: #00b190; border-radius: 3px;font-size:14px; margin-left: 8px}
.shop-admin-box .other-box a.refuse-btn { color: #999; border-color: #999; margin-left: 0.2rem;}
.refuse-reasons { padding: 0.2rem 0.3rem;}
.refuse-reasons .refuse-form dl { height: 0.4rem; line-height: 0.4rem; color: #999;}
.refuse-reasons .refuse-form dl dt { width: 0.4rem; float:left;}
.refuse-reasons .refuse-form dl dd {padding-left: 0.6rem; text-align: left;}
.refuse-reasons .submit-btn { display: block; width: 2rem; height: 0.5rem; line-height: 0.5rem; background-color: #ec343a; color: #fff; font-size: 0.24rem; border-radius: 5px; margin: 0.3rem auto 0;}
/*焦点搜索样式*/
.hide-search-page{ top:0; left:0; width:100%; height:100%; background-color:#fff; transition:all 0.05s 0.1s; position:fixed; visibility: hidden; z-index: 38;}
.hide-search-wrap { width: 5.4rem; border: 1px solid #d6d6d6; border-radius: 0.05rem; background-color: #fff; margin-right: 0.2rem; position: relative}
.hide-search-wrap .search-box input { display: inline-block; width: 4.54rem; height: 0.3rem; line-height: normal; padding: 0.15rem 0.1rem; border: none; float: left}
.search-interest,.hide-search-page .search-history { padding: 0.1rem; overflow: hidden;}
.hide-search-page h4 { padding: 0.1rem; line-height: 0.6rem;  border-bottom: 1px solid #d6d6d6; font-size: 0.22rem; color: #666;}
.hide-search-page .hot-word { padding: 0.2rem 0; font-size:0 ;overflow: hidden;}
.hide-search-page .hot-word span {display: inline-block; margin:0 0.1rem 0.2rem 0.1rem ;  padding: 5px; background-color: #f0f2f5; color: #686868; text-align: center;  border-radius: 5px; font-size: 0.16rem;}
.hide-search-page .search-history h4{ margin-top: 1rem; }
.search-big-box { width: 0.66rem; height:100%; border-radius: 0 0.05rem 0.05rem 0; position: absolute; right: 0; top: 0; border-left: 1px solid #d6d6d6;  background-position: 7px 6px; }
.search-inter-box { width: 100%; padding: 0.15rem 0; overflow: hidden; position: absolute; left: 0;top: 0; background: -webkit-linear-gradient(#fff, #f3f3f3)}
/*筛选条头部样式*/
.goods-filter { position: fixed; height: 0.78rem; top: 0.85rem;font-size: 0;  width: 100%; max-width: 640px; background-color: #fff;border-bottom: 1px solid #e7e7e7; z-index: 33;}
.goods-filter .filter-ul {display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.goods-filter .filter-ul li { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1;  -ms-flex: 1;  flex: 1;  border-right: 0; -moz-box-sizing: border-box;  -webkit-box-sizing: border-box;  box-sizing: border-box; display: inline-block; font-size: .24rem;  text-align: center;  line-height: 0.78rem; position: relative;}
.goods-filter .filter-ul li span { display: block; }
.goods-filter .filter-ul li.selected span { color: #f23030; }
.goods-filter .filter-ul li span:after { content: ""; display: inline-block; background: url("../images/icon.png") no-repeat; }
.goods-filter .filter-ul li.area span:after { position: absolute; right: 0.35rem; top: 0.42rem; width: 0; height: 0; font-size: 0; line-height: 0; border-width: 4px; border-style: solid; border-color: #999 #fff #fff; }
.goods-filter .filter-ul li.area.done span:after { position: absolute; right: 0.35rem; top: 0.42rem; width: 0; height: 0; font-size: 0; line-height: 0; border-width: 4px; border-style: solid; border-color: #00b190 #fff #fff; }
.goods-filter .filter-ul li.price span:after { position: absolute; right: 0.25rem; top: 0.26rem; width: 0.18rem; height: 0.20rem; background-position:-0.42rem -1.65rem; background-size: 3rem 3rem;}
.goods-filter .filter-ul li.price.click span:after { position: absolute; right: 0.25rem; top: 0.26rem; width: 0.16rem; height: 0.22rem; background-position:-0.45rem -1.85rem;background-size: 3rem 3rem; }
.goods-filter .filter-ul li.filter span:after { position: absolute; right: 0.25rem; top: 0.26rem; width: 0.26rem; height: 0.24rem; background-position:-2.76rem -0.80rem;background-size: 3rem 3rem; }
.product-name{color: #333; font-size: 0.24rem; line-height:0.3rem; height: 0.6rem; position: relative; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; display: box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-word;}
.product-name > span { display: block;}
.product-price-m { height: 0.45rem; line-height:0.45rem; padding-top: 0.45rem; overflow: hidden;  }
.location-and-time {overflow: hidden;}
.product-price-m em {  font-size: 0.20rem;  color: #ec343a;  margin-right: 3px;  display: block;  height: 0.4rem;  overflow: hidden;  float: left;}
.product-price-m .big-price { font-size: 0.36rem;}
.location-and-time span { color: #999; font-size: 0.22rem; line-height: 0.4rem}
.location-and-time span .icon-clock { margin-top: -2px}
.location-and-time em { margin: 0 0.05rem}
.over-lay,.over-lay-share { width: 100%;height: 100%; background: rgba(0,0,0,.5); position: fixed; top: 0; left:0; z-index: 36; font-size: 0.22rem; display: none;}
.over-lay-small { width: 100%;height: 100%; background: rgba(0,0,0,.5); position: absolute; top: 0; left:0; z-index: 32; display: none;}
/*修改后的产品筛选样式*/
.kinds-box { width: 85%; height: 100%; position:fixed; left:100%; top: 0; bottom: 0;background-color: #fff; overflow:hidden; box-sizing: border-box; padding:0.2rem 0 0.65rem; z-index: 38; display: none; }
.kind-filter { padding: 0 0.15rem;height: 0.6rem; line-height: 0.6rem;  }
.kind-filter span { display: inline-block; color: #999; font-size: 0.3rem; float: left;}
.kinds-box .filter-box {overflow: hidden; height: auto; position: absolute; top: 0.7rem; bottom: 0.65rem; width: 100%;}
.kinds-box .filter-box .category-title{ padding:0 10px; height:0.7rem; line-height:0.7rem; position: relative; border-bottom:1px solid #eee; box-sizing: border-box}
.kinds-box .filter-box .category-title .icon-pointer,.list-1 .icon-pointer{ display: block; width:.12rem; height:.12rem; border:solid #7D7D7D; border-width:1px 0 0 1px; transform:rotateZ(225deg); transform-origin:25% 25%; position:absolute; top:0.3rem; right:10px; }
.kinds-box .filter-box .category-title span{ font-size:0.24rem; color:#666;}
.kinds-box .category-lists,.right-show-box .category-lists{ width: 100%; height: auto; overflow-y: auto;-webkit-overflow-scrolling : touch;}
.kinds-box .category-lists .filter-option-dl { display: block; line-height: 0.7rem; font-size: 0.22rem;border-bottom: 1px dashed #e3e3e3; overflow: hidden;}
.kinds-box .category-lists .filter-option-dt {text-indent: 0.3rem; font-weight: bold; color: #666;}
.kinds-box .category-lists .filter-option.select { color: #fff ;background: #f60}
.kinds-box .filter-option-dd { padding: 0.1rem; overflow: hidden;}
.kinds-box span.filter-option { margin-right: 3.5%;  margin-bottom: 0.15rem; width: 31%; border-radius: 4px; background-color: #f3f3f3; color: #666; font-size: 0.20rem; height: 0.5rem; line-height: 0.5rem; text-align: center; float: left; display: inline-block; text-overflow: ellipsis;
    white-space:nowrap; overflow: hidden;-webkit-tap-highlight-color:rgba(255,255,255,0)}
.kinds-box span.filter-option:nth-child(3n) {margin-right: 0}
/*商品分类样式*/
.left-classify-box { width:25%; background-color: #e7e7e7; float:left;  min-height: 100%; }
.left-classify-box .left-over-box {  padding: 0.86rem 0 1rem 0; overflow-y: auto;-webkit-overflow-scrolling : touch; }
.left-classify-box li a { display: block; line-height: 0.7rem; color: #333; font-size: 0.24rem;text-align: center;}
.left-classify-box li.sel a { background-color: #fff; color: #00b190 ; border-left: 3px solid #00b190}
.right-show-box { width: 75%; margin-left: 25%;  min-height: 100%;}
.right-show-box-content { padding: 0.86rem 0 1rem 0; overflow-y: auto;}
.right-show-box .section-top { height: 0.7rem; line-height: 0.7rem; padding: 0 0.15rem; }
.right-show-box .right-section { overflow: hidden;margin-bottom:  0.15rem; background-color: #fff;}
.right-show-box .section-top span { display: block; color: #333; font-size: 0.24rem; font-weight: bold;}
.section-bottom { overflow: hidden;}
.section-bottom .big-img-a { display: block; width: 4.4rem; height: 1.6rem; margin:0 auto}
.section-bottom .big-img-a img{ display: block; width: 4.4rem; height: 1.6rem;}
.section-bottom ul li { width: 33.3%; float:left; text-align: center; margin-bottom: 0.2rem}
.section-bottom ul li a { display: block; color: #333;}
.section-bottom ul li img { display: block; width: 1rem; height: 1rem; margin: 0 auto 0.1rem;}
.section-bottom ul li span { display: block; font-size: 0.22rem}
.category-list-box { padding: 1.2rem 0 0 0; background-color: #fff; min-height: 10rem;}
.category-list a { display: inline-block; width: 25%; font-size: 0.2rem; color: #333; text-align: center;margin-bottom: 0.2rem; box-sizing: border-box;}
.category-list a img { display: block; width: 0.76rem; height: 0.76rem; margin: 0 auto;}
.category-list a span { display: block; line-height: 0.4rem; font-size:16px;}
.category-list img.baby{ display: block; width: 4.4rem; height: 1.6rem; margin: 0 auto;}
/*区域样式*/
.goods-filter .area-choose{ width: 100%; position: absolute; left:0; top: 0.79rem; background-color: #fff; z-index: 34; transition:max-height .5s ease-in-out; visibility:hidden; overflow:hidden;}
.goods-filter .choose-box{ padding: 0.2rem;}
.goods-filter .area-choose li{ padding:0.1rem; font-size: 0.2rem; color: #666; line-height: 0.45rem; position: relative; }
.goods-filter .area-choose li a{ display: block; color:#666; font-size: 0.22rem}
.goods-filter .area-choose li.sel a{ color:#CC5522;}
.goods-filter .showBox{visibility:visible;}
.tools-btn-box{ right:0; bottom:0; width:100%;font-size:0.22rem; border-top:1px solid #e3e3e3; transition: all 0.1s 0.3s; visibility: hidden; position:absolute;}
.tools-btn-box a{ width: 50%; height:0.65rem; line-height:0.65rem; text-align: center; color:#fff; background-color: #00b190; font-size:0.25rem; float:left; display: inline-block;}
.tools-btn-box a.cancleBtn{ background-color:#f3f3f3; color:#666;}
.tools-btn-box-show{ visibility: visible; transition: all 0.1s 0.01s;}
/*产品详情样式*/
.goods-detail,.goods-desc { padding: 0.15rem; margin-bottom: 0.15rem; background-color: #fff;}
.goods-desc img { display: block; width: 100%; margin-bottom: 0.1rem;}
.goods-detail .product-name { padding-right:0.9rem; height: 0.8rem; line-height: 0.4rem; font-size: 0.3rem; font-weight: bold}
.product-name .collection { position: absolute; top: 0.1rem; right: 0.1rem; color: #999; line-height: 0; text-align: center}
.product-name .collection i {margin: 0 0.05rem 0.1rem;}
.goods-detail .icon-like.like {  background-position: -1.27rem -1.46rem;}
.product-name .collection span{ display: block; font-weight: normal;font-size: 0.22rem; line-height: 0.22rem;}
.goods-detail .product-price-m {padding-top:0; font-size: 12px;}
.goods-detail .view { color: #999; font-size: 0.22rem;}
.goods-detail .location { font-size: 0.2rem;  padding: 0.2rem 0; line-height: 0.3rem; text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  word-break: break-word; color: #666; position: relative; overflow: hidden;}
.goods-detail .location .location-a { color: #333; display: block;}
.goods-detail .location .icon-more { margin-top: 0}
.goods-desc .title,.for-you-recommend .title { font-size: 0.30rem; height: 0.4rem; line-height: 0.4rem; font-weight: bold; color: #333; }
.goods-desc .desc { font-size: 0.24rem; padding: 0.2rem 0 0; line-height: 0.3rem; }
.goods-desc-box { margin-bottom: 10px; line-height: 0.35rem; color: #666}
.goods-desc .guarantee { font-size: 0.2rem; color: #666; line-height: 0.5rem; padding: 0.1rem 0 0;}
.goods-desc .guarantee span { margin-left: 0.1rem;}
.belong-store { background-color: #fff; margin-bottom: 0.1rem; }
.belong-store .items-user { border-bottom: 1px solid #e7e7e7;}
.belong-store .impression { padding: 0.3rem 0; border-bottom: 1px solid #e7e7e7; overflow: hidden; }
.belong-store .impression ul { display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; overflow: hidden;}
.belong-store .impression ul li {-webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1;  -ms-flex: 1;  flex: 1;  text-align: center; }
.belong-store .impression ul li a { display: block;}
.belong-store .impression li span {display: block; color: #333; }
.belong-store .impression li span:nth-child(1) { font-size: 0.24rem; font-weight: bold; color:#ec343a;line-height: 0.3rem;}
.belong-store .impression li span:nth-child(2) { font-size: 0.24rem; line-height: 0.45rem;}
.check-store-box { text-align: center; line-height: 0; padding: 0.2rem 0;  }
.check-store { margin: 0 auto; font-size: 0.18rem; background-color: #fdeaeb; border-radius: 0.1rem; color: #ec343a; line-height:0.3rem; padding: 0 0.1rem;}
/*详情页店铺筛选*/
.shop-filter .filter-ul li.area span:after { position: absolute; right: 0.45rem; top: 0.32rem; width: 0; height: 0; font-size: 0; line-height: 0; border-width: 4px; border-style: solid; border-color: #999 #fff #fff; }
.shop-filter .filter-ul li.selected.area span:after { border-color: #f23030 #fff #fff; }
.shop-filter .filter-ul li.click.price span:after { position: absolute; right: 0.25rem; top: 0.26rem; width: 0.16rem; height: 0.22rem; background-position:-0.45rem -1.85rem;background-size: 3rem 3rem; }
.sale-shop-list {padding-bottom: 1rem;overflow: hidden;}
.sale-shop-list .shop-item { padding: 0.15rem; border: 1px solid #fff;border-bottom: 1px solid #e5e5e5; background-color: #fff; overflow: hidden;}
.sale-shop-list .shop-item.select { border: 1px solid #f23030; background:#fff url("../images/selBg.png") no-repeat right bottom;}
.sale-shop-list .shop-item span.shop-name { width: 80%; font-size: 0.24rem;line-height: 0.4rem; text-align: left; color: #666}
.sale-shop-list .shop-item span.shop-apart { width: 20%; font-size: 0.22rem; line-height: 0.4rem; text-align: right; color: #666}
.sale-shop-list .shop-ctbox { height: 0.4rem;}
.sale-shop-list .shop-ctbox .icon-location { margin-top: 0.1rem}

/*商品图预览页面样式*/
.preview-box { position: fixed; width: 100%; height: 100%; top: 0; left:0; background-color: #fff;}
.preview-box .preview-slider { width: 100%; height: 6.4rem; position: absolute; top: 50%; margin-top: -3.3rem; overflow: hidden;}
.preview-box .preview-slider .bd li img{ width: 100%; height: 6.4rem;}
.preview-box-title { background-color: #999;}
.shop-page-title { background-color: #999}
.shop-page-title .li-box {font-size: 0.3rem; font-weight: normal; color: #fff; line-height: 0.83rem; margin: 0 2rem; text-align: center;overflow: hidden;}
.shop-page-title .li-box li {margin: 0 0.3rem; height: 0.85rem; float:left; text-align: center; border-bottom: 0.03rem solid #999; box-sizing: border-box}
.shop-page-title .li-box li.sel {border-bottom: 0.03rem solid #fff;}
.tab-page-box { height: 100%; position: absolute;top: 0.86rem; bottom: 0.84rem; left: 0; right:0; padding: 0.15rem 0;}
.tab-page-box .tab-page { width: 100%; height: auto; overflow-y: auto;-webkit-overflow-scrolling : touch;}
    /*店铺商品列表部分样式*/

/*商品详情页为你推荐样式*/
.for-you-recommend {padding: 0.2rem 0.1rem 0; overflow: hidden; background-color: #fff; }
.for-you-recommend .title { height: 0.5rem; line-height: 0.5rem; text-align: center;}
.for-you-recommend .title:before,
.for-you-recommend .title:after,
.mine-page span.or:after,
.mine-page span.or:before { content:""; display: inline-block; width: 1.5rem;height: 1px; background-color: #e7e7e7; vertical-align: middle; margin: 0 0.2rem;}
.fy-content { width: 100%; padding: 0.2rem 0;  overflow: hidden; font-size: 0.2rem; text-align: center;}
.fy-content li { width: 50%; box-sizing: border-box; margin-bottom: 0.1rem; float:left; }
.fy-content li img { display: block; width: 3rem; height: 3rem; margin: 0 auto}
.fy-content li .product-name { margin: 0.2rem 0;}
.fy-content li .product-price-m { padding-top:0}

/*商品详情底部样式*/
.add-to-cart {display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; position: fixed; bottom: 0; left: 0; width: 100%; background-color:#fff; border-top: 1px solid #f3f3f3}
.add-to-cart a { height: 0.8rem; line-height: 0.8rem; font-size: 0.24rem;  text-align: center;}
.add-to-cart a.disable { color: #fff; background-color: #ccc;}
.add-to-cart a.to-home,.add-to-cart a.to-cart{ -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1;  -ms-flex: 1;  flex: 1; color: #333; font-size: 0.2rem;position: relative;}
.to-cart .like {background-position: -1.27rem -1.46rem;}
.buy-now { background-color: #00b190;color: #fff;-webkit-box-flex: 1.5; -moz-box-flex: 1.5; -webkit-flex: 1.5;  -ms-flex: 1.5;  flex: 1.5;}
.add-cart { background-color: #f23030;color: #fff;-webkit-box-flex: 1.5; -moz-box-flex: 1.5; -webkit-flex: 1.5;  -ms-flex: 1.5;  flex: 1.5; }
.add-to-cart a span { display: block; line-height: 0.3rem; font-size: 0.22rem}
.add-to-cart a span.icon-num { display: block; padding:2px 5px; position: absolute; right: 0.4rem; top: 5px; background-color: #ec343a; color: #fff; font-size: 12px;  border-radius:0.12rem; line-height:1;}
.u-flyer{display: block;width: 0.6rem;height: 0.6rem ;border-radius: 50%; position: absolute;z-index: 9999;}

/*返回按钮和菜单样式*/
.top-tips { width: 100%; position: fixed; top: 0; left: 0; padding: 0.2rem 0; overflow: hidden; z-index: 29}
.to-back-box {  width: 0.6rem; height: 0.6rem; background: rgba(0,0,0,0.5); border-radius: 50%;  position: absolute; top: 0.3rem; left: 0.2rem; z-index: 35;}
.back-box {width: 0.6rem; height: 0.6rem; border-radius: 50%;  position: absolute; top: 0.15rem; left: 0.15rem; z-index: 35;}
.to-menu-box { width: 0.6rem; height: 0.6rem; background: rgba(0,0,0,0.5);  border-radius: 50%;  position: absolute; top: 0.3rem; right: 0.2rem;  z-index: 35;}
.know { display: block;  width: 2.16rem;  height: 0.73rem;  position: absolute;  left: 50%;  margin-left: -1.08rem;  top: 3.5rem;  z-index: 33;}
.pointer { display: block; width: 4.42rem; height: 1.47rem; position: absolute; left: 50%; margin-left: -2.21rem; top: 0.5rem; z-index: 33;}

/*店铺主页*/
.shop-inner { width: 100%; height: 3rem; position: relative; background: url("../images/shop-bg.png") no-repeat left top; background-size: cover;}
.shop-inner h2.title { font-size: 0.36rem; color: #fff; text-align: center; padding-top: 0.3rem; line-height: 0.6rem; }
.shop-inner .user-img { width: 1rem; height: 1rem; position: absolute; top:1rem; left: 50%; margin-left: -0.55rem; padding: 0.02rem; border: 2px solid #fff; border-radius: 50% ;font-size: 0.2rem}
.shop-inner .user-img img{  display: block; width: 1rem; height: 1rem;}
.shop-inner .to-menu-box,.shop-inner .to-back-box { background: none;}
.attention-to { display: block; width: 60px; height: 20px;  line-height: 20px; text-align: center; border-radius: 10px; font-size: 12px; color: #00b190; background-color: #fff; position: absolute; top: 2.4rem;  left: 50%; margin-left: -30px;}
.inner-store li span.num { color: #333; }
.main-sell-box { text-align: left; padding:0 0.15rem 0.2rem; line-height: 0; }
.main-sell { font-size: 0.2rem; color: #333; line-height: 0.3rem; }
/*我的样式*/
.mine-page { width: 100%; height: 100%; background-color: #fff; position: absolute; left: 0 ;top: 0;}
.mine-page h1 { width: 100%; height: 0.6rem; line-height: 0.6rem; font-size: 0.34rem; color: #666; text-align: center; position: absolute; top: 3.8rem; left: 50%; margin-left: -50%; }
.mine-page .logo-box { width: 3.80rem; height: 1.69rem; position: absolute; left: 50%;margin-left:-1.9rem; top: 2rem;}
.mine-page .logo-box img { display: block; width: 3.80rem; height: 1.69rem;}
.mine-page .bind-phone,.mine-page .wchat-login{ display: block; width: 76%; line-height: 0.7rem; height: 0.7rem; text-align: center; color: #fff; border-radius: 0.3rem; background-color: #00b190; position: absolute; top: 7rem; left: 50%; margin-left: -38%; font-size: 0.32rem; }
.mine-page span.or { display: block; width: 100%; text-align: center; font-size: 0.3rem; color: #999; line-height: 0.6rem; position: absolute;top: 8.05rem;}
.mine-page .wchat-login { top: 9rem; background-color: #fff; border: 1px solid #e7e7e7; color: #666; }

/*二手店铺会员页面*/
.my-shop-inner { height: 2rem; position: absolute; background: url(../images/bg4.jpg) no-repeat center center; z-index: 30}
.my-shop-inner h2.title { padding-top:0.1rem;}
.my-shop-inner-box { font-size: 0.36rem; color: #fff; text-align: center; padding: 0.2rem 0;width: 100%; height: 0.6rem; line-height: 0.6rem; position: fixed; z-index: 45;}
.my-shop-inner-box .to-back-box { top: 0.2rem}
.my-shop-inner-box .to-back-box { top: 0.2rem;}
.my-shop-containter { width: 100%; position: absolute; left:0; top: 2rem;}
.portrait-box { display: block; width: 1rem; height: 1rem; position: absolute; bottom: -0.5rem; right: 0.5rem; font-size: 0;}
.portrait-box img.user-img { display: block; width: 1rem; height: 1rem; top: -1px; border-radius: 50%;}
.my-shop-containter .top-box,.my-shop-containter .bottom-box { background-color: #fff; margin-bottom: 0.15rem}
.my-txt-box { margin: 0 0.15rem; padding-bottom: 0.2rem; border-bottom: 1px solid #e5e5e5; overflow: hidden;}
.my-txt-box h3 { font-weight: bold; height: 0.8rem; line-height: 0.8rem; font-size: 0.24rem; padding-left: 0.15rem;}
.more-box { width: 60%;}
.more-box ul { display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
.more-box ul li { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1;  -ms-flex: 1;  flex: 1; text-align: center}
.more-box ul li span { display: block; line-height: 0.3rem; font-size: 0.2rem; color: #333;}
.more-box ul li .item-num { color: #f00}
.tab-nav-ul { width: 100%; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; overflowL hidden; border-bottom: 1px solid #f1f1f1;}
.tab-nav-ul li { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1;  -ms-flex: 1;  flex: 1; text-align: center; position: relative;}
.tab-nav-ul li.sel span{ color: #333;}
.tab-nav-ul li.sel:after { display: block;}
.tab-nav-ul li span { display: block; line-height: 0.8rem; color: #999; font-size: 0.24rem;}
.tab-nav-ul li:after { display: none; content:'';width: 60%; height: 2px; background-color: orange; position: absolute; bottom: 0; left:50%; margin-left: -30%}
.tab-page-box .tab-items { padding:0 0.1rem; overflow: hidden; font-size: 0.22rem; }
.tab-page-box .name-and-time { width: 70%;}
.tab-page-box .name-and-time .name { color: #333; font-size:0.24rem; font-weight: normal}
.tab-items .con-items {border-bottom: 1px solid #f1f1f1; margin-bottom: 0.2rem}
.tab-items .items-img-box { overflow: hidden;}
.tab-items .items-img-box li { margin: 0 0.05rem; float: left;}
.tab-items .items-img-box li img { display: block; width: 1.96rem; height: 1.96rem; float:left}
.tab-items .items-title { height: 0.35rem; line-height: 0.35rem; font-size: 0.24rem; padding: 0 0.1rem; color: #333; margin: 0.15rem 0;}
.tab-items .items-title a { display: block; width: 70%; float:left; white-space: nowrap; text-overflow: ellipsis;  color: #333;overflow: hidden; }
.tab-items span.price { color: #ec343a; }

/*订单样式*/
.div_orderlist .item {overflow: hidden;  padding: 0.14rem 0 0 0; margin-top: 0.1rem; background-color: #fff;}
.only-position { position: relative; padding: 0 0.14rem 0.1rem}
.only-position .icon-location { margin-right: 0.15rem;}
.only-position a.shop-a { width: 1.2rem; font-size: 0.24rem; color: #666}
.imgs-box { padding: 0.2rem 0;overflow: hidden;}
.imgs-box ul li { float: left; display: block; width: 1rem;height: 1rem; margin-right: 0.1rem;}
.imgs-box ul li img { display:block; width: 1rem; height: 1rem;}
.bottom-bar { font-size: 0.22rem; padding: 0 0.15rem 0.15rem 0.15rem; overflow: hidden;}
.true-payed { display: block;}
.item .imb-num{font-size: 0.18rem;  display: block; float: left; margin-left: 4px;}
.imb-btn-box {  color: #f15353; margin-right: 0.15rem; width: 1.05rem;display: block; overflow: hidden;}
.imb-btn-box a { border: 1px solid #f15353;  color: #f15353;  border-radius: 0.06rem;  text-align: center;  height: 0.3rem;  line-height: 0.3rem; max-width: 1.3rem; display: block; font-size: 0.16rem; }
.signet {  z-index: 2; position: absolute; right: 0.4rem; top: 50%; margin-top: -0.16rem; width: 0.9rem; height: 0.9rem; background: url("../images/done.png") no-repeat;  background-size: cover; }
.no-order { width: 100%; padding-top: 1rem; text-align: center; font-size: 0.22rem; display: none; }
.noorder-pic { background: url("../images/noorder.png") no-repeat; width: 0.8rem; height: 1rem; background-size: cover; margin: 0 auto;  }
.no-order span { display: block; padding-top: 0.3rem; color: #232326; font-size: 0.22rem;  }
.is-loading { display: none; text-align: center; font-size: 0; height: 0.35rem; padding-top: 2px }
.is-loading > em {background: url("../images/loading.gif") center 0.04rem no-repeat; display: inline-block; width: 0.4rem; height: 0.44rem; background-size: cover; vertical-align: top;  }
.is-loading > span { color: #b3b3b3; font-size: 11px; display: inline-block; line-height: 27px; margin-left: 10px;  }

/*店铺*/
.collection-shop-list li{ padding: 0.2rem 0; background-color: #fff; border-bottom: 1px solid #f1f1f1}
.collection-shop-list li .items-user { overflow: hidden; padding: 0.15rem ;}
.collection-shop-list li .items-user .user-img { display: inline-block; width: 1rem; height: 1rem; margin-right: 0.1rem; font-size: 0.2rem}
.collection-shop-list li .items-user .user-img img { display: block; width: 1rem; height: 1rem;}
.collection-shop-list li .name-and-location { width: 80%; line-height:0;font-size: 0}
.collection-shop-list li .name-and-location a.name { display: block; width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 0.24rem; font-weight: bold; color: #333; line-height: 0.45rem; position: relative; }
.collection-shop-list li .name-and-location .time {  display: block; font-size: 0.20rem; color: #999;}
.collection-shop-list li .location-a { color: #999; font-size: 0.2rem}
.collection-shop-list li .location { display: block;height: 0.3rem; line-height: 0.3rem}
.collection-shop-list li .location .address { font-size: 0.2rem;}
.collection-shop-list .my-collection { margin-top: 0.2rem}
.collection-shop-list .my-collection a { display: inline-block; border: 1px solid #24d3b2; border-radius: 3px; height: 0.4rem; line-height: 0.4rem;font-size: 0.16rem; color: #24d3b2; padding: 0 0.1rem}

/*支付样式*/
.topTitle{ background-color:#fff;}
.payConfirmBox{ padding:10px 0;}
.payAmountTitle{  line-height:24px; text-align:center;}
.payAmountTitle p{ padding:15px; font-size:16px;}
.payAmountTitle p span{ font-size:50px;}
.payContainer{padding:10px; background-color:#fff;}
.payBtnBox{  background-color:#44b549; }
.payBtn{ width: 100%; height:50px;color:#fff; font-size:18px; background: none; border:none; display: block; text-align: center;}
.payBtn a{  line-height:50px; border-radius:5px; background-color:#b0b0b0; font-size:18px; color:#fff; text-align: center; display: block;}
.payBtn a.activeBtn{ background-color:#48be1a; font-size:18px; color:#fff;}
/*支付列表*/
.payList{ padding:10px 0; overflow:hidden;}
.payList li{ padding:; width:100%; height:50px; line-height:50px; border-bottom:1px solid #d6d6d6; box-sizing:border-box; }
.payList li a{ height:50px; font-size:16px; color:#444; display:block;}
.payList li .userIcon{ margin-top:18px;}
.payIcon{ margin-top:8px; margin-right:5px; width:2rem; height:2rem; }
.wxpayIcon{ background:url(../images/wxpay_icon.png) no-repeat; background-size:cover;}
/*支付完成*/
.payTipsBox{ padding:15px; width:260px; overflow:hidden;}
.payTipsBox button{ margin:0 5px;  padding:0 15px; width:120px; height:40px; line-height:40px; border-radius:5px; border:1px solid #48be1a; box-sizing:border-box; font-size:14px; color:#fff;}
.completedBtn{ background-color:#48be1a; }
.payTipsBox button.errorBtn{ background-color:#fff; color:#444; border:1px solid #ddd }

/*求购列表样式*/
.apply-list li { border-bottom: 1px solid #e7e7e7; padding:0.15rem; background-color: #fff;position:relative; overflow:hidden;}
.apply-list li .title {line-height: 0.35rem; margin-bottom: 0.15rem; font-size: 0.22rem; font-weight: bold; overflow: hidden; }
.apply-list li .title a { color: #333; height:0.35rem; display: block;}
.apply-list li .location { color: #666; font-size:0.22rem; line-height: 0.4rem; overflow: hidden;}
.apply-list li .price-and-time { font-size:0.22rem; line-height: 0.4rem; overflow: hidden;}
.apply-list .price-and-time span.price {color: #f00; margin-right: 0.1rem;}
.apply-list .price-and-time span.time {color: #999}
.apply-list .icon-location { margin-top: 0.05rem }
.apply-list .call-him { font-size: 0.2rem;}
.apply-list .call-him .operate-box { margin-right: 0.1rem; color: #00b190; display: block; padding: 0.1rem; height: 0.2rem; line-height: 0.2rem;  border: 1px solid #00b190; border-radius: 3px; display: inline-block;}
.apply-list .call-him .operate-box span{ line-height: 0.24rem;}
.apply-list .call-him > a { color: #00b190; border: 1px solid #00b190; border-radius: 3px; padding: 2px 5px; margin-left:10px}

/*入口选择页面样式*/
.temp_back { background-color: white;}
.entry-logo-box,.entry-mobile-box,.entry-pc-box { padding: 0.3rem 0;}
.entry-logo-box img { display: block; width: 50%; height: auto;margin: 0.3rem auto}
.entry-logo-box h2 { color: #666; font-size: 0.34rem; font-weight: bold; line-height: 0.55rem; text-align: center;}
.entry-mobile-box,.entry-pc-box { font-size: 0; }
.entry-mobile-box img,.entry-pc-box img { display: block; width: 50%; height: auto; margin: 0 auto;}

/*用户注册协议样式*/
.agreement-box { padding: 0.2rem 0.15rem; font-size: 0.24rem;}
.agreement-box p { line-height: 0.3rem; color: #666; margin-bottom: 5px;}
.agreement-box div.title { line-height: 0.4rem; margin-bottom: 5px;}
.agreement-box div.title strong{ font-weight: bold}
.agreement-box div.title strong:nth-child(2) { margin-left: 15px;}
.agreement-box strong.line { color: #333; font-weight: bold; text-decoration: underline;}
/*iphone 5适配*/
@media screen and (max-width: 320px) {
    .header .search-wrap { width: 3.46rem}
    .header .search-wrap .search-input{ width: 3.4rem}
    .recommend .rec-content li h3 {font-size: 0.28rem}
    .recommend .rec-content li span { font-size: 0.12rem}
}
