<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>二手商品管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/scripts/artdialog/ui-dialog.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pagination.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/icon/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/laymain.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/common.js"></script>
    <script type="text/javascript">
        //单击修改的ajax地址
        var pajax_url="{:U('Admin/Ajax/doubleClickModify')}";
        function doPostBack(objId) {
            if(objId == 'btnDelete') {
                $('#goodsForm').submit();
            }
            if(objId == 'btnSearch'){
                $('#searchForm').submit();
            }
        }
    </script>
</head>
<body class="mainbody">

    <!--导航栏-->
    <div class="location">
        <a href="javascript:history.back();" class="back"><i class="iconfont icon-up"></i><span>返回上一页</span></a>
        <a href="{:U('Index/center')}" class="home"><i class="iconfont icon-home"></i><span>首页</span></a>
        <i class="arrow iconfont icon-arrow-right"></i>
        <a href="{:U('Admin/GoodsType/goods_type_list')}"><span>栏目列表</span></a>
    </div>
    <!--/导航栏-->

    <!--工具栏-->
    <div id="floatHead" class="toolbar-wrap">
        <div class="toolbar">
        	<div class="box-wrap">
                <a class="menu-btn"></a>
                <form action="{:U('Admin/ShGoods/goodsList')}" method="post" id="searchForm">
                    <div class="l-list">
                        <ul class="icon-list">

	                        <li><a class="all" href="javascript:void(0);" onclick="checkAll(this);"><i class="iconfont icon-check"></i><span>全选</span></a></li>
	                        <li><a onclick="return ExePostBack('btnDelete','本操作会删除商品，是否继续？');" id="btnDelete" class="del" href="javascript:void(0);"><i class="iconfont icon-delete"></i><span>删除</span></a></li>
	                    </ul>
                        <div class="menu-list">
                            <div class="rule-single-select" style="display:none;">
                                <select name="move_id" onchange="ExePostBack('moveId','批量移动后，所有选中的商品的类别会变成选中移动的类型，确定继续吗？')" id="moveId">
                                    <option value="">批量移动...</option>
                                    <volist name="category_list" id="item">
                                        <option value="{$item.id}"><neq name="item.count" value="1">{$item['count']|fill_up_string="&nbsp;&nbsp;"}├</neq> {$item.title}</option>
                                    </volist>
                                </select>
                            </div>
                            <div class="rule-single-select">
                                <select name="category_id" onchange="doPostBack('categoryId')" id="categoryId">
                                    <option value="">所有类别</option>
                                    <volist name="category_list" id="item">
                                        <option <if condition="$item['id'] eq $category_id"> selected="selected" </if> value="{$item.id}"><neq name="item.count" value="1">{$item['count']|fill_up_string="&nbsp;&nbsp;"}├</neq> {$item.title}</option>
                                    </volist>
                                </select>
                            </div>

                            <div class="rule-single-select">
                                <select name="property" onchange="doPostBack('property')" id="property">
                                    <volist name="property_list" id="item">
                                        <option <if condition="$key eq $property"> selected="selected" </if> value="{$key}" >{$item}</option>
                                    </volist>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="r-list">
                        <input name="keywords" type="text" id="txtKeywords" class="keyword" />
                        <a id="btnSearch" class="btn-search" onclick="doPostBack('btnSearch');"><i class="iconfont icon-search"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/工具栏-->

    <!--列表-->
    <div class="table-container">
        <form method="post" action="{:U('Admin/ShGoods/del')}" id="goodsForm">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
            <tr>
                <th width="6%">选择</th>
                <th align="left" width="6%">ID</th>
                <th align="left" width="15%">商品名字</th>
                <th align="left" width="6%">类别</th>
                <th align="center" width="6%">置顶</th>
                <th align="left" width="8%">更新时间</th>
                <th align="left" width="6%">状态</th>
                <th align="left" width="6%">排序</th>
                <th width="12%">操作</th>
            </tr>
                <volist name="list" id="item">
                    <tr>
                        <td align="center">
                            <span class="checkall" style="vertical-align:middle;">
                                <input type="checkbox" name="ids[]" value="{$item.id}" />
                            </span>
                        </td>
                        <td>{$item.id}</td>
                        <td><span class="focusSpan" onclick="editField(this,'sh_goods','id','goods_title','{$item.id}',pajax_url,0,'{$item.goods_title}',0)">{$item.goods_title}</td>
                        <td>{$item.category_name}</td>
                        <td align="center">
                            <span boolvalue="{$item.is_top}" onclick="editFieldIs(this,'sh_goods','id','is_top','{$item.id}',pajax_url,0,1)"><if condition="($item.is_top eq 1)">是<else/>否</if></span>
                        </td>
                        <td>{$item.update_time|date='Y-m-d H:i:s',###}</td>
                        <td>
                            <eq name="item.status" value="0">未审核</eq>
                            <eq name="item.status" value="1">已审核</eq>
                            <eq name="item.status" value="2">审核失败</eq>
                            <eq name="item.status" value="3">已下架</eq>
                        </td>
                        <td onclick="editField(this,'sh_goods','id','sort_num','{$item.id}',pajax_url,0,'{$item.sort_num}',0)">{$item.sort_num}</td>
                        <td align="center">
                            <a href="{:U('Admin/ShGoods/edit',array('action'=>'edit','id' => $item['id']))}">编辑</a>
                            <a target="_blank" href="{:U('Ershou/ShGoods/detail',array('id' => $item['id']))}">详情</a>
                        </td>
                    </tr>
                </volist>

        </table>
            <input type="hidden" name="returnUrl" value="{$returnUrl}" />
        </form>

    </div>
    <!--/列表-->
	<!--内容底部-->
    <div class="line20"></div>
    <div class="pagelist">
        <div id="PageContent" class="default">{$page}</div>
    </div>
    <!--/内容底部-->

</body>
</html>
