<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>优惠券发放</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/scripts/artdialog/ui-dialog.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/icon/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/style.css" />
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/datepicker/WdatePicker.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/webuploader/webuploader.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-all.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/uploader.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/common.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/laymain.js"></script>
    <script type="text/javascript">
        var uploadType = 'image';
        function removeExtend(obj) {
            $(obj).parent().parent("dl").remove();
        }
        function doPostBack(objId) {
            if(objId == 'btnSearch'){
                $('#searchForm').submit();
            }
        }
        $(function () {
            //初始化表单验证
            $("#couponForm").initValidform();
            //初始化上传控件
            $(".upload-img").InitUploader({ filesize: "10240", sendurl: "{:U('Base/uploadFile')}", swf: "__PUBLIC__/statics/admin/js/webuploader/uploader.swf", filetypes: "gif,jpg,png,bmp,rar,zip,doc,xls,txt,docx,xlsx" });
            //初始化编辑器
            var editorMini = KindEditor.create('#txtContent', {
                width: '100%',
                height: '250px',
                filterMode: false, //默认不过滤HTML
                resizeType: 1,
                uploadJson: "{:U('Base/uploadFile',array('action' => 'EditorFile'))}",
                fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
                allowFileManager: true
            });
            //设置封面图片的样式
            $(".photo-list ul li .img-box img").each(function () {
                if ($(this).attr("src") == $("#hidFocusPhoto").val()) {
                    $(this).parent().addClass("selected");
                }
            });
            //创建上传附件
            $(".attach-btn").click(function () {
                showAttachDialog();
            });
            ajax();
        });
        var ajaxSearchUsers = "{:U('Coupon/ajaxUserList')}";
    </script>
</head>

<body class="mainbody">
<form method="post" action="{:U('Coupon/typeSend')}" id="couponForm">
    <!--导航栏-->
    <div class="location">
        <a href="javascript:history.back(-1);" class="back"><i class="iconfont icon-up"></i><span>返回上一页</span></a>
        <a href="{:U('Index/center')}" class="home"><i class="iconfont icon-home"></i><span>首页</span></a>
        <i class="arrow iconfont icon-arrow-right"></i>
        <span>优惠券发放</span>
    </div>
    <div class="line10"></div>
    <!--/导航栏-->

    <!--内容-->
    <div id="floatHead" class="content-tab-wrap">
        <div class="content-tab">
            <div class="content-tab-ul-wrap">
                <ul>
                    <if condition="$send_type eq 2"><li><a class="selected" href="javascript:void(0);">线下优惠券生成</a></li></if>
                    <if condition="$send_type eq 1"><li><a class="selected" href="javascript:void(0);">优惠券发放</a></li></if>
                </ul>
            </div>
        </div>
    </div>
    <if condition="$send_type eq 2">
    <div class="tab-content" >
    <dl>
        <dt>类型金额</dt>
        <dd>
            <div class="rule-single-select">
                <select name="type_id" id="TypeId">
                    <volist name="coupon_type_list" id="item">
                        <option <if condition="$item['type_id'] eq $type_id"> selected="selected" </if> value="{$item.type_id}"> {$item.type_name}【满{$item.min_goods_amount}减{$item.type_money}】</option>
                    </volist>
                </select>
            </div>
        </dd>
    </dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl>
        <dl>
            <dt>优惠券数量</dt>
            <dd>
                <input name="coupon_num" type="text" value="" id="txtTitle" class="input small" datatype="n" sucmsg=" " />
                <span class="Validform_checktip">*</span>
            </dd>
        </dl>
    <dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl><dl></dl>
    </div>
    </if>

    <if condition="$send_type eq 1">
    <div class="tab-content" >
        <dl>
            <dt>选择用户组</dt>
            <dd>
                <div class="rule-multi-porp">
                  <span id="cblActionType">
                          <volist name="users_group" id="vo">
                              <input id="cblActionType_0" type="checkbox" name="users_group[]"  value="{$vo.gid}"/>
                              <label for="cblActionType_0">{$vo.group_name}</label>
                          </volist>
                  </span>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>搜索用户</dt>
            <dd>
            <input name="user_key" id="user_key" placeholder="请输入用户昵称" class="keyword" style="width:200px;" type="text" />
            <a id="btnSearch1" class="btn-search" onclick="doSearchUsers('#user_key','#type_list',ajaxSearchUsers);">查询</a>
            </dd>
        </dl>

        <dl>
            <dt> <table id="typeList" class="tableList">
            <tbody>
            <tr>
                <td>
                    <select name="type" id="type_list" class="input select" style="width:250px;height:160px;" size="7">
                    </select>
                </td>
                <td>
                    <input value="添加到列表 &gt;&gt;" class="btn gBtn" id="addRelatedBtn" onclick="manageSelectItem('update', 'type_list', 'related_list', 'addRelatedBtn', 'user_list');" type="button">
                    <br><br>
                    <input value="从列表删除 &lt;&lt;" class="btn gBtn" id="delRelatedBtn" onclick="manageSelectItem('delete', 'type_list', 'related_list', 'delRelatedBtn', 'user_list');" type="button">
                </td>
                <td>
                    <select name="related_list" id="related_list" class="input select" style="width:250px;height:160px;" multiple="multiple">
                        <volist name="linkedGoodsList" id="vo">
                            <neq name="vo.linked_goods_id" value="$info['id']">
                                <option selected="selected" value="{$vo.linked_goods_id}">{$vo.linked_goods_title}</option>
                            </neq>
                        </volist>
                    </select>
                    <input type="hidden" name="user_list" id="user_list" value="{$info.linked_goods_ids}"/>
                </td>
            </tr>
            <tbody>
        </table>
            </dt>
        </dl>
    </div>
    </if>
    <!--/内容-->
    <!--工具栏-->
    <div class="page-footer">
        <div class="btn-wrap">
            <input type="hidden" name="type_id" id='type-id' value="{$type_id}"/>
            <input type="hidden" name="send_type" id='send_type' value="{$send_type}"/>
            <input type="hidden" name="returnUrl" value="{$returnUrl}">
            <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btn" />
            <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
        </div>
    </div>
    <!--/工具栏-->

</form>
</body>
</html>
