<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="{$web_keywords}"/>
    <meta name="description" content="{$web_description}" />
    <title>三好连锁pc新闻资讯</title>
    <import type="css" file="statics.home.css.public,statics.home.css.style,statics.home.css.animate,statics.home.css.scrollanim#min" />
    <!--[if lte IE 9]>
    <import type="js" file="scripts.js.html5shiv#min" />
    <![endif]-->
    <import type="js" file="statics.home.js.jquery-1#11#2#min,statics.home.js.jquery#SuperSlide#2#1#1,statics.home.js.totop" />
</head>
<body>
    <!--include header-->
    <section class="news-slider"></section>
    <article class="floor1 news-floor1">
        <div class="w1200">
            <h2 data-kui-anim="fadeInRightFast">我们的-<span>新闻中心</span></h2>
            <div class="line" data-kui-anim="fadeInRightNormal"></div>
            <section class="news-section clearfix" data-kui-anim="fadeInRightSlow">
                <ul>
                    <li>
                        <a href="javascript:;" class="square-a"><span class="date">11</span><span class="year-month">2017/10</span></a>
                        <div class="right-txt">
                            <a href="javascript:;">宜家家居，凭什么让自家品牌附上家的幸福味道</a>
                            <p> 随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓蕴涵着巨大的潜力。但事物总随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓...</p>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" class="square-a"><span class="date">11</span><span class="year-month">2017/10</span></a>
                        <div class="right-txt">
                            <a href="javascript:;">宜家家居，凭什么让自家品牌附上家的幸福味道</a>
                            <p> 随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓蕴涵着巨大的潜力。但事物总随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓...</p>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" class="square-a"><span class="date">11</span><span class="year-month">2017/10</span></a>
                        <div class="right-txt">
                            <a href="javascript:;">宜家家居，凭什么让自家品牌附上家的幸福味道</a>
                            <p> 随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓蕴涵着巨大的潜力。但事物总随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓...</p>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" class="square-a"><span class="date">11</span><span class="year-month">2017/10</span></a>
                        <div class="right-txt">
                            <a href="javascript:;">宜家家居，凭什么让自家品牌附上家的幸福味道</a>
                            <p> 随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓蕴涵着巨大的潜力。但事物总随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓...</p>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" class="square-a"><span class="date">11</span><span class="year-month">2017/10</span></a>
                        <div class="right-txt">
                            <a href="javascript:;">宜家家居，凭什么让自家品牌附上家的幸福味道</a>
                            <p> 随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓蕴涵着巨大的潜力。但事物总随着全国房地产市场的不断升温，消费者购买力的增强，对生活品味在不断提高，家居市场可谓...</p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </article>
    <!--include footer-->
</body>
</html>