<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>{$web_title}</title>
    <meta name="keywords" content="{$web_keywords}"/>
    <meta name="description" content="{$web_description}" />
    <import type="css" file="statics.wap.css.public,statics.wap.css.style,statics.wap.css.animate,statics.wap.css.scrollanim#min" />
    <!--[if lt IE9]>
    <import type="js" file="scripts.js.jshtml5shiv#min" />
    <![endif]-->
    <import type="js" file="statics.wap.js.zepto#min,statics.wap.js.zepto#fx,statics.wap.js.TouchSlide#1#1,statics.wap.js.rem" />
</head>
<body>
<!--include header-->
<header>
    <a href="javascript:history.go(-1);" class="back-to"><</a>
    <h2>新闻资讯</h2>
    <div class="menu-icon"></div>
</header>
<article class="containter">
    <section class="info-title"><span>{$info.title}</span></section>
    <section class="info-time"><span>{$info.add_time|date='Y-m-d',###}</span></section>
    <section class="content info-content">
        {$info.content|htmlspecialchars_decode}
    </section>
    <section class="read-siblings">
        <empty name="preInfo">
            <div class="prev"><span class="fl">上一篇：</span><a href="javascript:;" class="fl">亲，木有了！</a></div>
            <else/>
            <div class="prev"><span class="fl">上一篇：</span><a href="{:U('Wap/News/show')}?id={$preInfo.aid}" class="fl">{$preInfo.title}</a></div>
        </empty>
        <empty name="nextInfo">
            <div class="next"><span class="fl">下一篇：</span><a href="javascript:;">亲，木有了！</a></div>
            <else/>
            <div class="next"><span class="fl">下一篇：</span><a href="{:U('Wap/News/show')}?id={$nextInfo.aid}" class="fl">{$nextInfo.title}</a></div>
        </empty>
    </section>
    <include file="Public/footer" />
</article>
<include file="Public/nav" />
</body>
</html>