<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />
 <title>{$web_title}</title>
 <meta name="ROBOTS" content="INDEX,FOLLOW" />
 <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
 <meta name="renderer" content="webkit" />
 <meta name="apple-mobile-web-app-capable" content="yes" />
 <meta name="apple-mobile-web-app-status-bar-style" content="black" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <script src="__PUBLIC__/scripts/jquery/jquery.js"></script>
 <script src="__PUBLIC__/statics/mobile/js/rem.js"></script>
 <style>
  * {margin:0;padding:0; box-sizing: border-box;-webkit-box-sizing: border-box;word-wrap: break-word;}
  html,body{ max-width: 640px; min-width: 320px; margin: 0 auto;  text-size-adjust:100%;}
  body{touch-callout:none;font-size:16px;font-family:"Helvetica Neue",Helvetica,"Microsoft YaHei","微软雅黑",Arial,sans-serif;background:#efefef;line-height:inherit}
  h1,h2,h3,h4,h5,h6{font-weight:400;}
  a{ color:#607fa6; text-decoration:none}
  .slider img { display: block; width: 100%; height: 3.32rem}
  section.items { padding: 0.2rem; background-color: #fff; text-align: center}
  .section-content p { line-height: 0.35rem; margin-bottom: 0.1rem; color: #666; font-size: 0.23rem; }
  .section-content p.green { color: #00b190;}
  .section-gif-box { height:24px; background-color: #fff; text-align: center}
  .adv { background-color: #fff;}
  .adv > img {display: block; width: 100%; height: 3rem}
  .adv .section-gif-box { margin-top: 0.3rem}
  .section-title { height: 0.6rem; line-height: 0.6rem; font-size: 0.23rem; font-weight: bold; border: 1px solid #e5e5e5; box-shadow: 0 2px 4px #e5e5e5; color: #00b190;}
  .part { text-align: left; color: #666; margin: 0.3rem 0}
  .part h3 { color: #09ac8a; font-weight: bold; font-size: 0.24rem; border-left: 3px solid #e5e5e5; height: 0.3rem; line-height: 0.3rem; padding-left: 0.3rem; margin-bottom: 0.3rem;}
  .part p { line-height: 0.4rem; font-size: 0.23rem; }
  .wrap-box {width: 70%; color: rgb(255, 255, 255); font-size: 20px; margin: 0px auto -2px; border-radius: 5px; padding: 0.15rem; display: block; background-color: rgb(128, 177, 53);}
  .wrap-box .pen {height: 23px; width: 6px; -webkit-transform: rotate(45deg); transform: rotate(45deg); margin: -5px 0 2px 13px; display: inline-block; box-sizing: border-box; color: inherit; background-color: rgb(254, 254, 254); }
  .wrap-box span { font-size: 18px;}
  .wrap-box .pen-pointer {width: 0px; height: 0px; border-width: 5px 3px 0px; border-style: solid; border-color: rgb(254, 254, 254) transparent transparent; display: inline-block; margin-left: -23px; margin-top: 2px; -webkit-transform: rotate(45deg); transform: rotate(45deg); box-sizing: border-box; padding: 0px; color: inherit;}
  .contact-txt-box {margin: -32px 0 0 15px; padding: 0 20px;color: inherit; box-sizing: border-box; text-align: center}
  .about-us { margin: 20px 0; text-align: center; font-size: 0.24rem; color: #09ac8a;}
  .about-us p span { width: 60%; heihgt: 0.35rem; line-height: 0.35rem; text-align: left; display: block; margin: 0 auto}
  .option-pointer {width: 0px; margin-right: auto; margin-left: auto; border-top-width: 0.6em; border-top-style: solid; border-bottom-color: rgb(128, 177, 53); border-top-color: rgb(128, 177, 53); height: 10px; color: inherit; border-left-width: 0.7em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 0.7em !important; border-right-style: solid !important; border-right-color: transparent !important;}
  .ewm-box {margin-right:auto;margin-left:auto;background-image:url(__PUBLIC__/statics/mobile/images/ewm_bg.png);background-size:100%; width:4.5rem; height:4.5rem}
  .ewm-img-box img { display: inline-block; width: 3rem ; height: 3rem; margin: 0.75rem auto}
   .load-img-box img { width: 100%;}
 </style>
</head>
<body>
<section class="slider">
 <img src="__PUBLIC__/statics/mobile/images/profile_img_1.jpg" alt="" />
</section>
<section class="items">
 <div class="section-content">
  <p class="green">&nbsp;&nbsp;&nbsp;&nbsp;三好连锁整合线下大量高端饭店、酒店、咖啡店等 “ 变量人流量大，滞留时间长，消费层次高端 ” 的公共资源，</p>
  <p>共享这些公共场所里的 "闲置空间" ，<br />把您的品牌形象、品牌特征及优秀产品长时间曝光在消费者面前，同时搭载线上公众号推广，线上+线下结合，双管齐下，从而达到轻松高效的目的！</p>
 </div>
 <div class="section-gif-box"><img src="__PUBLIC__/statics/mobile/images/profile_load.gif" alt="" /></div>
</section>
<section class="items">
 <div class="section-title">三好连锁的三大功能如下</div>
 <div class="section-content">
  <div class="part">
   <h3>一、品牌形象推广</h3>
   <p>三好连锁店的每一个实体店里的显眼位置都放置有数量不同的物品展示架和壁挂广告相框，让您的品牌形象与客户之间 “ 长时间的亲密接触 ” 。</p>
  </div>
  <div class="part">
   <h3>二、产品实体体验</h3>
   <p>您的创意产品可以摆放在每个实体店里的物品展示架里，利用客户的闲暇时光，让他们有足够的时间与您的心爱产品亲密接触！如果他们看到喜欢还能现场买走。</p>
  </div>
  <div class="part">
   <h3>三、二手物品交易平台</h3>
   <p>您有好的二手宝贝可以在公众号上免费发布，让您的二手宝贝再次为您发光发热！</p>
  </div>
 </div>
</section>
<section class="adv">
 <img src="__PUBLIC__/statics/mobile/images/profile_img_2.jpg" alt="" />
 <div class="section-gif-box"><img src="__PUBLIC__/statics/mobile/images/profile_load.gif" alt="" /></div>
</section>
<section class="items">
 <div class="section-title">3好连锁的3大功能如下</div>
 <div class="section-content">
  <div class="part">
   <h3>一、很实惠</h3>
   <p>同等效果的前提下能让您的品牌推广预算大大降低。</p>
  </div>
  <div class="part">
   <h3>二、很高效</h3>
   <p>放置的所有连锁加盟店都是中高档饭店酒店等地方，变量人流量大，滞留时间长，消费层次高等。</p>
  </div>
  <div class="part">
   <h3>三、很开阔</h3>
   <p>线下实体店搭载线上软件，配合强大的后台管理系统，用更多的触角，更广的视线让您的品牌得到更多的关注！</p>
  </div>
 </div>
</section>

<section class="items">
 <div class="load-img-box">
  <img src="__PUBLIC__/statics/mobile/images/load.gif" />
 </div>
</section>
<!--联系-->
<section class="items">
    <div class="contact-box">
       <div class="wrap-box" style="text-align: left;">
          <div class="pen"></div>
          <div class="pen-pointer"></div>
          <div class="contact-txt-box"><div style="padding: 0 15px 0"></div><span>三好连锁店品牌推广</span></div>
         </div>
       <div class="option-pointer" ></div>
    </div>
<!--电话微信-->
    <div class="about-us">
       <p><span>客服电话：0755-23999161</span></p>
       <p><span>客服微信/QQ：19136676</span></p>
       <p><span>官网：www.somegood.com.cn</span></p>
    </div>
<!--扫一扫二维码-->
    <div class="ewm-box">
       <div class="ewm-img-box">
          <img src="__PUBLIC__/statics/mobile/images/somegood_ewm.jpg" title="somegood_ewm.jpg" alt="二维码" />
       </div>
    </div>
    <p><span>长按二维码关注</span></p>
</section>
</body>
</html>