<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <import type="css" file="statics.mobile.css.public,statics.mobile.css.user" />
    <import type="js" file="scripts.jquery.jquery-1#11#2#min,scripts.webuploader.webuploader#min,scripts.zepto.zepto#validateForm,statics.mobile.js.common" />
    <script type="text/javascript" src="__PUBLIC__/statics/mobile/js/rem.js" fu-psd="720" fu-min="50" fu-max="100"></script>
    <!--选择区域页面所要引入的文件-->
    <script type="text/javascript">
        var usersLng = {$Think.session.lng};//用户所在的经纬度
        var usersLat = {$Think.session.lat};
        if(isWeixin()) {
            usersLng = parseFloat(localStorage.getItem("longitude"));
            usersLat = parseFloat(localStorage.getItem("latitude"));
        }
        var strInput = "<input type=\"hidden\" name=\"data[lng]\" value=\""+usersLng+"\" />";
            strInput += "<input type=\"hidden\" name=\"data[lat]\" value=\""+usersLat+"\" />";
        /*滑出窗口
         *@Param       obj    obj//要显示的选项卡对应的内容
         * */
        function openOverLay(obj){
            var obj = arguments[0] ? arguments[0] : '';
            $(".over-lay").show();
            $(".kinds-box").show().animate({"left":"15%"},300,function(){
                if(obj!="") {
                    obj.show();
                }
            });
            $('html').addClass('noscroll');
            $("body").css("overflow-y","hidden");
        }
        /*关闭窗口
         *@Param      obj     obj  //关闭后，选项卡对应隐藏
         * */
        function closeOverLay(obj){
            var obj = arguments[0] ? arguments[0] : '';
            if(obj!=""){
                obj.hide();
            }
            $(".kinds-box").animate({"left":"100%"},300,function(){
                $(".kinds-box").hide();
                $(".over-lay").hide();
            });
            $('html').removeClass('noscroll');
            $("body").css("overflow-y","auto");
        }
    </script>
    <import type="css" file="statics.mobile.css.zepto#select#dialog,statics.mobile.css.zepto#select#area" />
    <import type="js" file="scripts.zepto.zepto#select#dialog,scripts.zepto.zepto#select#area,scripts.zepto.zepto#miniDialog,scripts.js.region,statics.mobile.js.uploader,statics.mobile.js.common" />
    <script type="text/javascript">
        var uploadType = 'image';
        $(function(){
            $(".upload-album").InitUploader({ btntext: "批量上传", multiple: true, sendurl: "{:U('Mobile/Member/uploadFile')}", swf: "/116cs/Public/JS/webuploader/uploader.swf" });
        })
        var usersLng = {$Think.session.lng};//用户所在的经纬度
        var usersLat = {$Think.session.lat};
        if(isWeixin()) {
            usersLng = parseFloat(localStorage.getItem("longitude"));
            usersLat = parseFloat(localStorage.getItem("latitude"));
        }
        var defaultCatId = "{$info.category_id}";
    </script>
</head>
<body>
<div class="page-title">
    <!--返回按钮-->
    <div class="to-back-box">
        <a href="javascript:history.go(-1);" class="icons icon-back"></a>
    </div>
    <!--返回按钮-->
    <!--标题-->
    <h2 class="title">发布宝贝</h2>
    <!--标题-->
</div>
<div class="pd-t08">
    <form action="{:U('Mobile/Users/publish')}" name="publishForm" id="publishForm" method="post" enctype="multipart/form-data">
<!--图片上传-->
<div id="uploader" class="wu-example release-uploader">
    <div class="queueList">
        <div id="dndArea" class="placeholder">
            <div class="photo-list">
                <ul>
                    <for start="0" end="count($plist)">
                        <li>
                            <input type="hidden" name="photo[]" value="{$plist[$i]}" />
                            <input type="hidden" name="rphoto[]" value="{$rlist[$i]}" />
                            <div class="img-box" onClick="setFocusImg(this);">
                                <img src="__PUBLIC__/Uploads/{$plist[$i]}" bigsrc="__PUBLIC__/Uploads/{$plist[$i]}" realpath="{$plist[$i]}" />
                                <span class="remark"><i><if condition="$rlist[$i] eq ''">暂无描述<else/>{$rlist[$i]}</if></i></span>
                            </div>
                            <div class="opera-tools"><a class="upload-icons del-icon" href="javascript:;" onclick="delImg(this);">删除</a></div>
                        </li>
                    </for>
                </ul>
            </div>
            <div id="filePicker" class="upload-album"></div>
            <input name="hidFocusPhoto" type="hidden" id="hidFocusPhoto" class="focus-photo" value="{$info.goods_thumb}" />
        </div>
    </div>
    <div class="upload-tips-box">亲，请至少上传三张宝贝图片，这样更能引起买家兴趣哦！</div>
</div>
<!--图片上传-->

<!--宝贝其他-->
    <div class="form-box">
        <dl>
            <dt>标题</dt>
            <dd><input type="text" style="width: 80%;" name="data[goods_title]" placeholder="请输入标题" class="required" required="required" value="{$info.goods_title}" id="title"/></dd>
        </dl>
        <dl>
            <dt>宝贝描述</dt>
            <dd>
                <textarea name="data[goods_desc]" id="yourGoodsDescribe" placeholder="描述一下您的宝贝吧！" required="required" onKeyDown="checkMaxInput(this)" onKeyUp="checkMaxInput(this)">{$info.goods_desc}</textarea>
                <span class="can-input" id="canInput">100/100</span>
            </dd>
        </dl>
        <dl>
            <dt>销售数量</dt>
            <dd><input type="number" name="data[goods_num]" placeholder="请输入数量" class="required" required="required" value="{$info.goods_num}" oninvalid="setCustomValidity('请正确输入宝贝数量')" id="goodsNum" /></dd>
        </dl>
        <dl>
            <dt>价格</dt>
            <dd>
               <input type="text" name="data[goods_price]" required="required" placeholder="价格" class="small" value="{$info.goods_price}" style="margin-left: 0.2rem"/>
            </dd>
        </dl>
        <dl>
            <dt>类别</dt>
            <dd>
                <span class="focusBtn" obj-id="goods-type-box" id="goods-type-span"><if condition="$info[category_id] gt 0">{$info.category_name}<else/>请选择商品类别</if></span><input type="hidden" name="data[category_id]" id="goods-type" value="{$info.category_id}" />
            </dd>
        </dl>
        <dl>
            <dt>几成新</dt>
            <dd>
                <span class="focusBtn" obj-id="new-old-degree-box"><if condition="$info[goods_condition] gt 0">{$goods_condition.$info[goods_condition]}<else/>请选择商品新旧度</if></span>
                <input type="hidden" name="data[goods_condition]" id="goods-condition" value="{$info.goods_condition}" />
            </dd>
        </dl>
        <dl>
            <dt>选择区域</dt>
            <dd>
                <!--所属区域-->
                <input type="text" name="area_text" id="areaText" data-value="{$info['area_list']}" placeholder="点击选择区域 "
                       value="<if condition="$info['area_id'] gt 1">{$info.region}</if>" />
                <input type="hidden" name="data[area_list]" id="area_list" class="required" value="{$info['area_list']}" />
                <script>
                    //初始化所有城市JS
                    var selectArea = new MobileSelectArea();
                    var defaultArea = "{$info['area_list']}";
                    var areaName = "{$info.region}";
                    var areaArr = ['','',''];
                    if(areaName!=""){
                        areaArr = areaName.split(' ');
                    }
                    selectArea.init({trigger:'#areaText',data:cityJson,default:0,text:areaArr,value:defaultArea,position:"bottom"});
                </script>
            </dd>
        </dl>
    </div>
    <!--宝贝其他-->
    <!--发布按钮-->
    <div class="release-btn-box">
        <input type="hidden" name="id" value="{$id}">
        <input type="hidden" name="action" value="{$action}">
        <input type="hidden" name="returnUrl" value="{$returnUrl}">
        <button type="submit" name="submit" class="release-btn" id="releaseBtn">发布</button>
    </div>
</form>
</div>
<div class="over-lay"></div>
<!--商品筛选-->
<div class="kinds-box" style="padding-bottom: 0;">
    <div class="kind-filter">
        <i class="icons icon-close-overlay fl"></i>
        <span class="fl">选择</span>
    </div>
    <div class="filter-box" id="goods-type-box" style="bottom:0">
        <div class="category-title">
            <span class="fl">商品分类</span>
            <span class="fr" id="choosed" style="margin-right:20px;">所有分类</span>
            <i class="icon-pointer"></i>
        </div>
        <div class="left-classify-box" style="top: 0.71rem">
            <div class="left-over-box">
                <ul>
                    <volist name="categoryList" id="vo" empty="$empty">
                        <li <if condition="$vo.id eq $bigCatId">class="sel"</if> data-id="{$vo.id}"><a href="javascript:;">{$vo.title}</a></li>
                    </volist>
                </ul>
            </div>
        </div>
        <!--右边分类展示-->
        <div class="right-show-box" style="position: absolute; top: 0.71rem; bottom:0; overflow: auto;">
            <div class="right-show-box-content" style="padding:0; height: 100%;">
                <div class="category-lists" id="categoryBox" ></div>
            </div>
        </div>
    </div>
    <div class="filter-box" id="new-old-degree-box" style="bottom:0">
        <div class="category-title">
            <span class="fl">新旧程度</span>
            <i class="icon-pointer"></i>
        </div>
        <div class="new-old-degree-wrap">
            <volist name="goods_condition" id="gc">
                <span class="filter-option <if condition='$info[goods_condition] eq $key'> fCurrent</if>" data-value="{$key}">{$gc}</span>
            </volist>
        </div>
    </div>
</div>
<!--商品筛选-->
<!--&lt;!&ndash;商品筛选&ndash;&gt;-->
<!--<div class="kinds-box">-->
    <!--<div class="kind-filter">-->
        <!--<i class="icons icon-close-overlay fl"></i>-->
        <!--<span class="fl">选择</span>-->
    <!--</div>-->
    <!--<div class="filter-box" id="goods-type-box">-->
        <!--<dl class="filter-item">-->
            <!--<dt>-->
                <!--<span class="fl">商品类别</span>-->
                <!--<span class="fr fSelected"></span>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<volist name="goodsCategoryList" id="gc">-->
                    <!--<span class="filter-option <if condition='$info[category_id] eq $gc[id]'> fCurrent</if>" data-value="{$gc.id}">{$gc.title}</span>-->
                <!--</volist>-->

            <!--</dd>-->
        <!--</dl>-->
    <!--</div>-->
    <!--<div class="filter-box" id="new-old-degree-box">-->
        <!--<dl class="filter-item">-->
            <!--<dt>-->
                <!--<span class="fl">新旧程度</span>-->
                <!--<span class="fr fSelected"></span>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<volist name="goods_condition" id="gc">-->
                    <!--<span class="filter-option <if condition='$info[goods_condition] eq $key'> fCurrent</if>" data-value="{$key}">{$gc}</span>-->
                <!--</volist>-->
            <!--</dd>-->
        <!--</dl>-->
    <!--</div>-->
    <!--<div class="filter-box" id="store-box">-->
        <!--<dl class="filter-item">-->
            <!--<dt>-->
                <!--<span class="fl">选择店铺</span>-->
                <!--<span class="fr fSelected"></span>-->
            <!--</dt>-->
            <!--<dd>-->
                <!--<ul class="collection-shop-list"></ul>-->
            <!--</dd>-->
        <!--</dl>-->
    <!--</div>-->
<!--</div>-->
<!--发布按钮-->
<script>
    $(function(){
        $(".release-btn-box").append(strInput);
        //筛选菜单点击及默认效果
        var ajaxCategoryUrl = "{:U('Mobile/Goods/category')}";
        //筛选菜单选项卡点击效果
        //默认第一个选项卡被选中
        if($(".left-classify-box").find("li.sel").length>0){
            var defaultId = $(".left-classify-box").find("li.sel").eq(0).attr("data-id");
        }else{
            $(".left-classify-box").find("li").eq(0).addClass("sel");
            var defaultId = $(".left-classify-box").find("li").eq(0).attr("data-id");
        }
        if(typeof(defaultId!="undefined")) {
            menuTabChangeAjax(defaultCatId,defaultId, "#categoryBox", ajaxCategoryUrl,true);
        }
        $(".left-classify-box").find("li").on("click",function(){
            $(this).addClass("sel").siblings().removeClass("sel");
            if(typeof($(this).attr("data-id"))!="undefined"){
                var id = $(this).attr("data-id");
                menuTabChangeAjax(defaultCatId,id,"#categoryBox",ajaxCategoryUrl,true);
            }
        })
    })

</script>
<script type="text/javascript">
    $("#publishForm").validateForm({isAutoClose: true,closeTime: 1500,return_url:"{$returnUrl}"});
    var maxLen = 100; //定义用户可以输入的最多字数
    var canInput = document.getElementById("canInput");
    function checkMaxInput(obj) {
        if (obj.value.length > maxLen){ //如果输入的字数超过了限制
            obj.value = obj.value.substring(0, maxLen); //就去掉多余的字
            canInput.innerText = '您输入的内容超出了字数限制'
        }
        else{
            canInput.innerText = (maxLen - obj.value.length) + '/' + maxLen;//计算并显示剩余字数
        }
    }
    //按钮绑定
    $(function(){
        //按钮绑定事件
        $(".focusBtn").on("click",function(){
            $(".filter-box").hide();
            var obj = $("#"+$(this).attr("obj-id"));
            openOverLay(obj);//滑出窗口
        })
        $("#new-old-degree-box .filter-option").on("click",function(){
            var curVal = $(this).attr("data-value");
            var curText = $(this).text();
            $("#goods-condition").val(curVal);
            $("#goods-condition").parent().find(".focusBtn").text(curText);
            $(this).parent().find(".filter-option").removeClass("select");
            $(this).addClass("select");
            closeOverLay($("#new-old-degree-box"));//关闭窗口
        })
        /*选择区域input失去焦点*/
        $("#areaText").on("click",function(){
            $(this).blur();
        })
    })
    $(".kind-filter .icon-close-overlay").on("click",function(){
        closeOverLay();
    })
    /*点击阴影层滑出box隐藏*/
    $(".over-lay").on("click",function(){
        $(".tools-btn-box").removeClass("tools-btn-box-show");
        $(".kinds-box").animate({"left":"100%"},300,function(){
            $(".kinds-box").hide();
            $(".over-lay").hide();
            $('html').removeClass('noscroll');
            $("body").css({"overflow-y":"auto"});
        });

    })
    /*获取店铺
     */
    function getStoreList() {
        $.ajax({
            url:"{:U('Mobile/Users/getStore')}",
            type:"post",
            dataType:"json",
            data:{
                'goods_category':$("#goods-type").val(),
                'area_list':$("#area_list").val()
            },
            success:function(data){
                if(data.status==1) {
                    var str = '';
                    $.each(data.data, function (index, sl) {
                        str += "<li data-value=\"" + sl['sid'] + "\">";
                        str += "<div class=\"items-user\">";
                        str += "<a href=\"javascript:void(0);\" class=\"user-img fl\"><img src=\"";
                        if(sl['logo']==""||typeof(sl['logo'])=="undefined"){
                            str += "__PUBLIC__/statics/mobile/images/default_img.png";
                        }else{
                            str += "__PUBLIC__/uploads/"+ sl['logo']+"_c200x200";
                        }
                        str += "\" alt=\"\"></a>";
                        str += "<div class=\"name-and-location fl\">";
                        str += "<a href=\"javascript:void(0);\" class=\"name\">" + sl['store_name'] + "</a>";
                        str += "<span class=\"location\"><i class=\"icons icon-location fl\"></i><span class=\"address fl\">距您<span class=\"distance apart\" data-lng=\""+sl['lng']+"\" data-lat=\""+sl['lat']+"\">0</span>Km</span></span>";
                        str += "</div>";
                        str += "</div>";
                        str += "</li>";
                    })
                    $('.collection-shop-list').html('');
                    $('.collection-shop-list').append(str);
                    calcDistance(".distance");
                    openOverLay();
                }else{
                    parent.$("body").minDialog({isAutoClose:true,isCloseAll:true,content:data.data});
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });
    }
</script>
</body>
</html>