<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>{$web_title}</title>
    <import type="css" file="statics.mobile.css.public,statics.mobile.css.style,dist.dropload" />
    <import type="js" file="scripts.zepto.zepto#min,scripts.zepto.zepto#cookie#min,scripts.TouchSlide.TouchSlide#1#1,scripts.zepto.zepto#fx,statics.mobile.js.region,scripts.zepto.timeago,statics.mobile.js.common,dist.dropload#min,scripts.zepto.lazyload#min" />
    <script type="text/javascript" src="__PUBLIC__/statics/mobile/js/rem.js" fu-psd="720" fu-min="50" fu-max="100"></script>
    <script type="text/javascript">
        var usersLng = {$Think.session.lng};//用户所在的经纬度
        var usersLat = {$Think.session.lat};
        if(isWeixin()) {
            usersLng = parseFloat(localStorage.getItem("longitude"));
            usersLat = parseFloat(localStorage.getItem("latitude"));
        }
        var defaultCatId = "{$catid}";
    </script>
</head>
<body>
<!--店铺主页-->
<div class="page-title">
    <!--返回按钮-->
    <div class="back-box">
        <a href="javascript:history.back();" class="icons icon-back"></a>
    </div>
    <h2 class="title">店铺列表</h2>
    <!--返回按钮-->
</div>
<!--店铺主页-->
<!--所属店铺-->
<div class="goods-filter">
    <ul class="filter-ul">
        <li class="area" id="area"><span>区域</span></li>
        <li class="orderBtn distaceBtn <eq name="order" value="2">selected</eq>" data-status="2"><span>距离</span></li>
        <li class="orderBtn price <neq name="order" value="2">selected</neq> <eq name="order" value="1">click</eq>" data-status="<if condition="$order neq '2'">{$order}<else/>0</if>"><span>销售</span></li>
    </ul>
    <!--商品区域-->
    <div class="area-choose" id="areaChoose">
        <div class="choose-box">
            <ul>
                <li <eq name="area_id" value="0">class="sel"</eq>><a href="{:U('Mobile/Search/list')}?keywords={$keywords}&area_id=0&order={$order}&type=1"><span>全部区域</span><i class="icons icon-select"></i></a></li>
                <volist name="areaList" id="area">
                    <li <eq name="area_id" value="$area['id']">class="sel"</eq>><a href="{:U('Mobile/Search/list')}?keywords={$keywords}&area_id={$area.id}&order={$order}&type=1"><span>{$area.name}</span><i class="icons icon-select"></i></a></li>
                </volist>
            </ul>
        </div>
    </div>
    <!--商品区域-->
</div>
<!--商品筛选部分-->
<!--店铺列表-->
<div class="page-box shop-list pd-t18">
    <ul class="collection-shop-list">
        <volist name="storeList" id="item">
        <li>
            <div class="items-user">
                <a href="{:U('Mobile/Store/detail',array('shop'=>$item['sid']))}" class="user-img fl">
                    <img data-original="__PUBLIC__/uploads/{$item.goods_thumb}_c200x200" src="__PUBLIC__/statics/mobile/images/default_img.png" alt="{$item.store_name}" />
                </a>
                <div class="name-and-location fl">
                    <a href="{:U('Mobile/Store/detail',array('shop'=>$item['sid']))}" class="name">{$item.store_name}</a>
                    <a href="http://api.map.baidu.com/marker?location={$item.lat},{$item.lng}&title={$item.store_name}&content={$item.address}&output=html ">
                        <span class="location"><i class="icons icon-location fl"></i><em data-lng="{$item.lng}" data-lat="{$item.lat}" class="distance address fl">0</em>Km</span>
                    </a>
                </div>
            </div>
        </li>
        </volist>
    </ul>
</div>
<!--店铺列表-->
<div class="over-lay"></div>
<div class="over-lay-small"></div>
<!--公用底部-->
<include file="Public/footer" />
<!--公用底部-->
<script>
    $(function(){
        $(".collection-shop-list li img").lazyload({effect : "fadeIn"});
        //点击排序
        $(".orderBtn").on("touchstart",function(){
            var orderType = $(this).attr("data-status");
            var jumpUrl = "{:U('Mobile/Search/list')}?keywords={$keywords}&area_id={$area_id}&order=2&type=1";
            if($(this).hasClass("price")){
                if(orderType=="0"){
                    jumpUrl = "{:U('Mobile/Store/list')}?keywords={$keywords}&area_id={$area_id}&order=1&type=1";
                }else{
                    jumpUrl = "{:U('Mobile/Store/list')}?keywords={$keywords}&area_id={$area_id}&order=0&type=1";
                }
            }
            window.location.href = jumpUrl;
        })
        //区域被选中信息
        var areaName = "区域";
        var selectText = $("#areaChoose").find("li.sel").eq(0).find("span").text();
        if(selectText){
            areaName = selectText;
        }
        $("#area").text(areaName);
        /*区域下拉*/
        var h = $(".area-choose").height();
        var wh = $(window).height();
        $(".over-lay-small").height(wh);
        /*区域选择*/
        $(".goods-filter li.area").on("touchstart",function(){
            if($(this).hasClass("done")){
                $(".area-choose").css("max-height",h);
                $(".over-lay-small").hide();
                $(this).removeClass("done");
                $(".area-choose").css("max-height",0);
                //$(".area-choose").removeClass("showBox");
                $(".area-choose").css("max-height",0);
                $("body").css("overflow","auto");
            }else{
                $(".area-choose").css("max-height",0);
                $(".over-lay-small").show();
                $(this).addClass("done");
                $(".area-choose").css("max-height",h);
                $(".area-choose").addClass("showBox");
                $("body").css("overflow","hidden");
            }
        })
        /*区域收起*/
        $(document).on('click',function(e){
            var e = e || window.event; //浏览器兼容性
            var elem = e.target || e.srcElement;
            while (elem) {
                //循环判断至跟节点，防止点击的是div子元素
                if (elem.id && elem.id=='area') {
                    return;
                }
                elem = elem.parentNode;
            }
            $(".area-choose").css("max-height",h);
            $(".over-lay-small").hide();
            $(this).removeClass("done");
            $(".area-choose").css("max-height",0);
            //$(".area-choose").removeClass("showBox");
            $(".area-choose").css("max-height",0);
            $("body").css("overflow","auto");
        });
        calcDistance(".distance");//绑定计算距离
    })
    //滚动页面ajax自动获取下一页内容
    var page=2; //有效求购的页码
    var totalPage = {$pageCount}; //有效求购页的总页码，会从后台获
    var ajaxUrl="{:U('Mobile/Store/list')}?area_id={$area_id}&order={$order}&type=1&isajax=1";//ajax请求地址
    $(function(){
        var tabLoadEnd = false;
        // dropload
        var dropload = $('.page-box').dropload({
            scrollArea : window,
            loadDownFn : function(me){
                // 加载菜单一的数据
                if(page <= totalPage){
                    $.ajax({
                        url:ajaxUrl,
                        type:"post",
                        dataType:"json",
                        data:{
                            'p':page
                        },
                        success:function(data){
                            var str='';
                            $.each(data.data.list,function(index, vo) {
                                str += "<li> ";
                                str += "<div class=\"items-user\">";
                                str += "<a href=\"{:U('Mobile/Store/detail')}?shopid="+vo['sid']+"\" class=\"user-img fl\">";
                                str += "<img data-original=\"__PUBLIC__/uploads/"+ vo['logo']+"_c200x200\" src=\"__PUBLIC__/statics/mobile/images/default_img.png\" alt=\""+vo['store_name']+"\" />";
                                str += "</a>";
                                str += "<div class=\"name-and-location fl\">";
                                str += "<a href=\"{:U('Mobile/Store/detail')}?shopid="+vo['sid']+"\" class=\"name\">";
                                str += + vo['store_name']+"</a>";
                                str += "<a href=\"http://api.map.baidu.com/marker?location="+vo['lat']+","+vo['lng']+"&title="+vo['store_name']+"&content="+vo['address']+"&output=html \">";
                                str += "<span class=\"location\"><i class=\"icons icon-location fl\"></i><em data-lng=\""+vo['lng']+"\" data-lat=\""+vo['lat']+"\" class=\"distance address fl\">0</em>Km</span>";
                                str += "</a>";
                                str += "</div>";
                                str += "</div>";
                                str += "</li>";
                            })
                            // 为了测试，延迟1秒加载
                            $('.collection-shop-list').append(str);
                            $(".collection-shop-list li img").lazyload({effect : "fadeIn"});
                            calcDistance(".distance");//绑定计算距离
                            // 每次数据加载完，必须重置
                            me.resetload();
                            totalPage = data.data.pageCount;
                        },
                        error: function(xhr, type){
                            alert('Ajax error!');
                            // 即使加载出错，也得重置
                            me.resetload();
                        }
                    });
                    page++;
                }else{
                    // 数据加载完
                    tabLoadEnd = true;
                    // 锁定
                    me.lock();
                    // 无数据
                    me.noData();
                    me.resetload();
                }
                // 加载菜单二的数据
            }
        });
        // 如果数据没有加载完
        if(!tabLoadEnd){
            // 解锁
            dropload.unlock();
            dropload.noData(false);
        }else{
            // 锁定
            dropload.lock('down');
            dropload.noData();
        }
        // 重置
        dropload.resetload();
    });
</script>
</body>
</html>
