<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>编辑文章栏目</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/scripts/artdialog/ui-dialog.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/icon/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/admin/css/style.css" />
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/webuploader/webuploader.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-all.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/uploader.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/common.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/statics/admin/js/laymain.js"></script>
    <script type="text/javascript">
        var uploadType = 'image';
        $(function () {
            //初始化表单验证
            $("#columnForm").initValidform();
            //初始化上传控件
            $(".upload-img").InitUploader({ sendurl: "{:U('Base/uploadFile')}", swf: "__PUBLIC__/statics/admin/js/webuploader/uploader.swf" });
            //初始化编辑器
            KindEditor.create('#txtContent', {
                width: '100%',
                height: '250px',
                filterMode: false, //默认不过滤HTML
                resizeType: 1,
                uploadJson: "{:U('Base/uploadFile',array('action' => 'EditorFile'))}",
                items: [
                    'source', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', '|', 'image', 'link', 'fullscreen']
            });
        });
    </script>
</head>

<body class="mainbody">
<form method="post" action="{:U('Article/ColumnAdd')}" id="columnForm">
    <!--导航栏-->
    <div class="location">
        <a href="javascript:history.back(-1);" class="back"><i class="iconfont icon-up"></i><span>返回上一页</span></a>
        <a href="{:U('Index/center')}" class="home"><i class="iconfont icon-home"></i><span>首页</span></a>
        <i class="arrow iconfont icon-arrow-right"></i>
        <a href="{:U('Article/column')}"><span>文章栏目</span></a>
        <i class="arrow iconfont icon-arrow-right"></i>
        <span>编辑栏目</span>
    </div>
    <div class="line10"></div>
    <!--/导航栏-->

    <!--内容-->
    <div id="floatHead" class="content-tab-wrap">
        <div class="content-tab">
            <div class="content-tab-ul-wrap">
                <ul>
                    <li><a class="selected" href="javascript:void(0);">基本选项</a></li>
                    <li><a href="javascript:void(0);">SEO设置</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <dl>
            <dt>所属父栏目</dt>
            <dd>
                <div class="rule-single-select">
                    <select name="data[parent_id]" id="ddlParentId">
                        <option value="0">无父级栏目</option>
                        <volist name="column_list" id="item">
                                <option <if condition="$item['c_type'] eq 0"> disabled </if> <if condition="$item['id'] eq $info['parent_id']"> selected="selected" </if> value="{$item.id}"><neq name="item.count" value="1">{$item['count']|fill_up_string="&nbsp;&nbsp;"}├</neq> {$item.c_name}<if condition="$item['c_type'] eq 0">(单页面)</if></option>
                        </volist>
                    </select>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>排序数字</dt>
            <dd>
                <input name="data[sort_num]" type="text" value="{$info.sort_num}" id="txtSortId" class="input small" datatype="n" sucmsg=" " />
                <span class="Validform_checktip">*数字，越小越向前</span>
            </dd>
        </dl>
        <dl>
            <dt>栏目名称</dt>
            <dd><input name="data[c_name]" type="text" value="{$info.c_name}" id="txtTitle" class="input normal" datatype="*1-100"/> <span class="Validform_checktip">*栏目中文名称，100字符内</span></dd>
        </dl>

        <dl>
            <dt>图片</dt>
            <dd>
                <input name="data[img_url]" type="text" id="txtImgUrl" class="input normal upload-path" value="{$info.img_url}" />
                <div class="upload-box upload-img"></div>
            </dd>
        </dl>

        <dl>
            <dt>栏目类型</dt>
            <dd>
                <div class="rule-multi-radio">
                    <input id="c_type_1" type="radio" name="data[c_type]" value="1" <eq name="info.c_type" value="1">checked="checked"</eq> /><label for="c_type_1">列表</label>
                    <if condition="$info.son_count eq 0"><input id="c_type_0" type="radio" name="data[c_type]" value="0" <eq name="info.c_type" value="0">checked="checked"</eq> /><label for="c_type_0">单页面</label></if>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>是否隐藏</dt>
            <dd>
                <div class="rule-multi-radio">
                    <input id="c_is_hidden_1" type="radio" name="data[c_is_hidden]" value="1" <eq name="info.c_is_hidden" value="1">checked="checked"</eq> /><label for="c_is_hidden_1">是</label>
                    <input id="c_is_hidden_0" type="radio" name="data[c_is_hidden]" value="0" <eq name="info.c_is_hidden" value="0">checked="checked"</eq> /><label for="c_is_hidden_0">否</label>
                </div>
            </dd>
        </dl>

        <dl>
            <dt>单页面内容</dt>
            <dd>
                <textarea name="data[c_content]" id="txtContent" class="editor" style="visibility:hidden;">{$info.c_content}</textarea>
            </dd>
        </dl>
    </div>
    <div class="tab-content" style="display:none">
        <dl>
            <dt>SEO标题</dt>
            <dd>
                <input name="data[c_seo_title]" type="text" value="{$info.c_seo_title}" maxlength="255" id="txtSeoTitle" class="input normal" datatype="s0-100" sucmsg=" " />
                <span class="Validform_checktip">255个字符以内</span>
            </dd>
        </dl>
        <dl>
            <dt>SEO关健字</dt>
            <dd>
                <textarea name="data[c_seo_keywords]" rows="2" cols="20" id="txtSeoKeywords" class="input">{$info.c_seo_keywords}</textarea>
                <span class="Validform_checktip">以“,”逗号区分开，255个字符以内</span>
            </dd>
        </dl>
        <dl>
            <dt>SEO描述</dt>
            <dd>
                <textarea name="data[c_seo_description]" rows="2" cols="20" id="txtSeoDescription" class="input">{$info.c_seo_description}</textarea>
                <span class="Validform_checktip">255个字符以内</span>
            </dd>
        </dl>
    </div>

    <!--/内容-->

    <!--工具栏-->
    <div class="page-footer">
        <div class="btn-wrap">
            <input type="hidden" name="action" value="{$action}" />
            <input type="hidden" name="id" value="{$info.id}" />
            <input type="hidden" name="returnUrl" value="{$returnUrl}">
            <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btn" />
            <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back();" />
        </div>
    </div>
    <!--/工具栏-->

</form>
<script type="text/javascript">
    $(function(){
        $("#txtTitle").blur(function(){
            setPartWordsByString("#txtTitle","#txtCallIndex","{:U('Index/getPinyinByChinses')}");
        });
    })
</script>
</body>
</html>
