<layout name="user_layout" />
<!--Content start-->
<div id="vipCenterContent" class="user-center">
	<div class="w1200">
		<div class="left-menu-list fl" id="leftMenu">
			<include file="Public/user_menu"/>
		</div>
		<div class="right-show fr">
			<div class="u-tab-head">
				<p>
					<a href="{:U('Shop/Users/amount')}" >资金查看</a>
				</p>
			</div>
			<div class="u-tab-content">
				<div class="title-div">
					<strong>余额</strong>
				</div>
				<form url="{:U('Shop/Users/amount')}" id="yueForm" name="yueForm">
					<div class="form-box">
						<dl>
							<dt>余额：</dt>
							<dd>￥200000000.00</dd>
						</dl>
				<div class="page-foot">
		           <div class="flickr right">{$page}</div><!--放置页码列表-->
		        </div>
			</div>
			<input id="turl" value="{:U('Shop/Users/amount',array('status'=>$status))}" type="hidden"><!--存在跳转的URL值-->
			<!--/系统消息-->
		</div>
	</div>
</div>
<!--end Content-->
<div class="clear"></div>