<layout name="user_layout" />
	<!--vipCenterContent start-->
      <script type="text/javascript">
	    $(function(){
			//初始化表单
			AjaxInitForm('#pwdForm', '#btnSubmit', 1,"#tUrl");
		});
	</script>
	<div id="vipCenterContent" class="user-center">
		<div class="w1200">
		    <div class="left-menu-list fl" id="leftMenu">
				<include file="Public/user_menu"/>
			</div>
			<div class="right-show fr">
			      <div class="u-tab-head">
			        <p>
			          <a href="{:U('Shop/Users/setting',array('action'=>'info'))}">个人资料</a>
			          <a class="selected" href="{:U('Shop/Users/password')}">修改密码</a>
			        </p>
			      </div>
			      <div class="u-tab-content">
			        <div class="title-div">
			          <strong>修改密码</strong>
			        </div>
			        <form url="{:U('Shop/Users/password')}" id="pwdForm" name="pwdForm">
			        <div class="form-box">
			          <dl>
			            <dt>用户名：</dt>
			            <dd>{$Think.session.shop.username}</dd>
			          </dl>
			          <dl>
			            <dt>旧密码：</dt>
			            <dd>
			              <input name="oldPassword" id="txtOldPassword" type="password" class="input txt" datatype="*6-20" ajaxurl="{:U('Shop/Users/ajax')}" nullmsg="请输入旧密码" errormsg="密码范围在6-20位之间" sucmsg=" " />
			            </dd>
			          </dl>
			          <dl>
			            <dt>新密码：</dt>
			            <dd>
			              <input name="password" id="txtPassword" type="password" class="input txt" datatype="*6-20" nullmsg="请输入新密码" errormsg="密码范围在6-20位之间" sucmsg=" " />
			            </dd>
			          </dl>
			          <dl>
			            <dt>确认新密码：</dt>
			            <dd>
			              <input name="password1" id="txtPassword1" type="password" class="input txt" datatype="*" recheck="password" nullmsg="请再输入一次新密码" errormsg="两次输入的密码不一致" sucmsg=" " />
			            </dd>
			          </dl>
			          <dl>
			            <dt></dt>
			            <dd>
			              <input name="btnSubmit" id="btnSubmit" type="submit" class="btn btn-success" value="确认修改" />
			              <input type="hidden" id="tUrl" name="tUrl" value="{:U('Shop/Login/loginOut')}" />
			            </dd>
			          </dl>
			        </div>
			        </form>
			      </div>
			      <!--/修改资料-->
			</div>
		</div>
	</div>
	<!--end vipCenterContent-->
	<div class="clear"></div>