<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>商品列表</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <import type="css" file="statics.store.css.store-public,statics.store.css.store-style,scripts.artdialog.ui-dialog,css.pagination" />
    <import type="js" file="scripts.jquery.jquery-1#11#2#min,scripts.artdialog.dialog-plus-min,scripts.jquery.jquery#lazyload#min" />
</head>
<body style="background-color: #edf1f2;overflow-y: auto;">
<div class="tab-box">
    <ul class="tab-ul fl">
        <li <eq name="pageType" value="all"> class="sel"</eq>><a href="{:U('Seller/Goods/index',array('type'=>'all'))}">全部</a><div class="move"></div></li>
        <li <eq name="pageType" value="sale"> class="sel"</eq>><a href="{:U('Seller/Goods/index',array('type'=>'sale'))}">在售</a><div class="move"></div></li>
        <li <eq name="pageType" value="off"> class="sel"</eq>><a href="{:U('Seller/Goods/index',array('type'=>'off'))}">未上架</a><div class="move"></div></li>
    </ul>
</div>
<div class="info-box">
    <div class="goods-list-box">
        <!--<div class="all-select-box">-->
            <!--<label for="allSelect" id="allSelectLabel"><input type="checkbox" id="allSelect"/>全选</label>-->
            <!--<a href="javascript:;"  class="print-a">批量打印</a>-->
        <!--</div>-->
        <form action="{:U('Store/Goods/printList')}" class="goods-form" id="goodsForm" method="post" target="_blank">
            <volist name="list" id="item">
                <div class="goods-item" id="item{$item.id}">
                    <!--<input type="checkbox" name="ids[]" value="{$item.id}"/>-->
                    <a href="{:U('Shop/Goods/goods' , array('id' => $item['id']))}" target="_blank" class="img-a-box btn-info"><img src="__PUBLIC__/statics/mobile/images/default_img.png" data-original="__PUBLIC__/uploads/{$item.goods_thumb}_c200x200" alt="{$item.goods_title}"></a>
                    <a href="{:U('Shop/Goods/goods' , array('id' => $item['id']))}" target="_blank" class="desc btn-info">{$item.goods_title}</a>
                    <div class="price">￥<span>{$item.price}</span></div>
                    <div class="price">库存<span>{$item.online_stock}</span></div>
                    <div class="price">销量<span>{$item.online_sales_volume}</span></div>
                    <div class="goods-btn-box">
                        <!--待发货的商品的按钮-->
                        <a href="{:U('Shop/Goods/goods' , array('id' => $item['id']))}" target="_blank" class="btn-info">详情</a>
                        <a href="{:U('Seller/Goods/publish')}?id={$item.id}&action=edit"  class="btn-info">修改</a>
                        <eq name="item.is_onsale" value="0">
                            <a href="javascript:void(0);"  onclick="updateGoodsSaleStatus('{$item.id}','on')" class="btn-info" >上架</a>
                            <else/>
                            <a href="javascript:void(0);"   onclick="updateGoodsSaleStatus('{$item.id}','off')" class="btn-info">下架</a>
                            <eq name="item.is_extension" value="0">
                                <a href="javascript:;"  class="apply-extension btn-info" data-value="{$item.id}" data-l="{$item.length}" data-w="{$item.width}" data-h="{$item.height}">申请推广</a>
                                <else/>
                                <a href="javascript:;"  class="btn-info">已申请</a>
                            </eq>
                        </eq>

                    </div>
                </div>
            </volist>
        </form>
    </div>
</div>
<div class="pagelist">
    <div id="PageContent" class="default">{$pageShow}</div>
</div>
<script>
    /*变更商品上架状态*/
    function updateGoodsSaleStatus(id,status) {
        $.ajax({
            url:"{:U('Seller/Goods/updateGoodsSale')}",
            type:"post",
            dataType:"json",
            data:{
                'id':id,
                'status':status,
            },
            success:function(data){
                if(data.status==1){
                    var d = dialog({content:data.info}).show();
                    setTimeout(function () {
                        d.close().remove();
                        window.location.href="__SELF__";
                    }, 1500);
                }else{
                    var d = dialog({content:data.info}).show();
                    setTimeout(function () {
                        d.close().remove();
                    }, 1500);
                }
            }
        });
    }

    $(".apply-extension").click(function(){
        var d = top.dialog({
            title:"申请推广",
            content: "<div class='apply-extension-form'>" +
            "<form action='' id='applyExtensionForm'>" +
            "<dl>" +
            "<dt>长</dt>" +
            "<dd>" +
            "<input type='text' id='length' value='"+$(this).attr("data-l")+"'/>mm</dd>" +
            "</dl>" +
            "<dl>" +
            "<dt>宽</dt>" +
            "<dd>" +
            "<input type='text' id='width' value='"+$(this).attr("data-w")+"'/>mm</dd>" +
            "</dl>" +
            "<dl>" +
            "<dt>高</dt>" +
            "<dd>" +
            "<input type='text' id='height' value='"+$(this).attr("data-h")+"'/>mm</dd>" +
            "<input type='hidden' id='goods_id' value='"+$(this).attr("data-value")+"'></dd>" +
            "</dl>" +
            "</form>" +
            "</div>",
            okValue: '确定',
            ok: function () {
                parent.bindSubmitBtn1('__SELF__');
                this.title('提交中…');
                return true;
            },
            cancelValue: '取消',
            cancel: function () {}
        }).width(300).height(90).showModal();
    })

</script>
</body>
</html>