<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>新增收货地址</title>
    <link rel="stylesheet" type="text/css"  href="__PUBLIC__/statics/shop/css/public.css" />
    <link rel="stylesheet" href="__PUBLIC__/scripts/artdialog/ui-dialog.css">
    <script type="text/javascript" src="__PUBLIC__/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/statics/shop/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/scripts/js/region.js"></script>
    <script type="text/javascript" src="__PUBLIC__/scripts/jquery/Validform_v5.3.2_min.js"></script>
    <style>
        .jj-area-box dl { height: 36px; line-height: 36px; margin-bottom: 10px;}
        .jj-area-box dl dt { width: 90px; height: 36px; float:left;}
        .jj-area-box dl dd select { display: inline-block; width: 120px; height: 34px; line-height: 34px; border: 1px solid #e5e5e5; border-radius: 3px; font-family:"微软雅黑"; color: #666}
        .jj-area-box dl dd option {text-align: center}
        .inp { width: 200px; height: 34px; line-height: 34px; border: 1px solid #e5e5e5; padding: 0 10px; border-radius: 3px; color: #999; font-size: 14px;}
        .edit-btn { padding: 0 10px; height: 36px; line-height: 36px; background-color: #e74649; color: #fff; font-size: 14px;}
        .jj-area-box .Validform_checktip { margin: 8px 0 8px 20px}
    </style>
</head>
<body>

   <form action="{:U('Shop/Order/addUserAddress')}" name="form1" id="newAddressForm" method="post"  onsubmit="return saveReport()">
       <div class="jj-area-box">
           <dl>
               <dt>所在区域：</dt>
               <dd>
                   <select id="selProvince" name="data[province]">
                       <option value="0">--请选择省份--</option>
                   </select>
                   <select id="selCity" name="data[city]">
                       <option value="0">--请选择城市--</option>
                   </select>
                   <select id="selDistrict" name="data[district]">
                       <option value="0">--请选择区/县--</option>
                   </select>
               </dd>
           </dl>
           <dl>
               <dt>收货人：</dt>
               <dd>
                   <input type="text" class="inp" datatype="*" name="data[consignee]" nullmsg="请填写收货人" datatype="n" errormsg="收货人格式不正确！" placeholder="请填写收货人">
                   <strong class="Validform_checktip"></strong>
               </dd>
           </dl>
           <dl>
               <dt>详细地址：</dt>
               <dd>
                   <input type="text" class="inp" datatype="*" name="data[address]" nullmsg="请填写详细地址" datatype="n" placeholder="请填写详细地址">
                   <strong class="Validform_checktip"></strong>
               </dd>
           </dl>
           <dl>
               <dt>手机号码：</dt>
               <dd>
                   <input type="text" class="inp" datatype="m" name="data[mobile]" nullmsg="请填写手机号码" datatype="n" errormsg="手机号格式不正确！" placeholder="请填写手机号码">
                   <strong class="Validform_checktip"></strong>
               </dd>
           </dl>
           <dl>
               <dt></dt>
               <dd>
                   <input type="submit" class="edit-btn" value="保存收货人信息">
               </dd>
           </dl>
        </div>
   </form>
   <script>
   //区域选择js
   $(function () {
       $(".edit-btn").on('click', function(event) {
           event.preventDefault();
           /* Act on the event */
           /*ajax提交form表单
           * @Param            addressId                obj                  收货地址id
           */
           $.ajax({
                           cache: true,
                           type: "POST",
                           url:"{:U('Shop/Order/addUserAddress')}",
                           data:$('#newAddressForm').serialize(),// 你的formid
                           async: false,
                           error: function(request) {
                               alert("Connection error");
                           },
                           success: function(data) {
                               //ajax提交表单成功之后
                                   var d = dialog({
                                       title:'系统提示',
                                       backdropBackground:'white',
                                       width:120,
                                       content:'加入收货地址成功!'
                                   }).showModal();
                                   console.log(d);
                                   //调用父类方法删除div
                                   setTimeout("window.parent.delDroploadDiv()",1500);
                                   //调用父类方法添加收货地址列表
                                   setTimeout("window.parent.refreshReceipt()",1500);
                                   //初始化物流div块
                                   setTimeout("window.parent.clickFirstButton()",1500);
                           }
                       });
       });
       $.each(cityJson, function (k, p) {
           var option = "<option value='" + p.id + "'>" + p.name + "</option>";
           $("#selProvince").append(option);
       });
       //省份的id值
       $("#selProvince").change(function () {
            window.selValue = $(this).val();
           $("#selCity option:gt(0)").remove();
           $("#selDistrict option:gt(0)").remove();
           //根据省份id获取市
           $.each(cityJson, function (k, p) {
               if (p.id == selValue) {
                   $.each(p.child, function (kx, px) {
                   var option = "<option value='" + px.id + "'>" + px.name + "</option>";
                   $("#selCity").append(option);
               });
               }
           });
       });
       //选择的城市id
       $("#selCity").change(function () {
           var selCityValue = $(this).val();
           $("#selDistrict option:gt(0)").remove();

           $.each(cityJson, function (k, p) {
               if (p.id == selValue) {
                   $.each(p.child, function (kx, px) {
                   if (px.id == selCityValue) {
                       $.each(px.child, function (kc, pc) {
                           var option = "<option value='" + pc.id + "'>" + pc.name + "</option>";
                           $("#selDistrict").append(option);
                           });
                   }
               });
               }
           });
       });
   });
       $("#newAddressForm").Validform({tiptype:4});
   </script>
</body>
</html>
